<template>
  <v-layout row wrap class="user__full" :class="{'xs': $vuetify.breakpoint.xs, 'sm': $vuetify.breakpoint.sm , 'md': $vuetify.breakpoint.md}">
    <v-flex class="text-xs-center" xs12 md4 sm6 offset-sm3 offset-md0>
      <v-avatar size="220px" v-ripple class="grey lighten-3 mb-3">
        <v-img :src="user.user_picture[0] ? user.user_picture[0].url : require('~/assets/images/avatar.png')" cover/>
      </v-avatar>
      <AppHeading
        level="4"
        :heading="user.field_user_firstname[0].value + ' ' + user.field_user_lastname[0].value"
        class="text__headline mb-3"
      />
      <p class="gray" v-if="user.field_user_location[0]">
        <v-icon color="accent">mdi-map-marker</v-icon>
        <template v-if="user.field_user_location[0].locality || user.field_user_location[0].administrative_area">
        <span v-html="user.field_user_location[0].locality || user.field_user_location[0].administrative_area"></span>,
        </template> {{ userCountry }}
      </p>

      <UserBadges v-if="user.field_user_badges.length > 0" v-bind:user="user"/>

      <div class="contact pl-3 pr-3" v-if="$route.params.id != this.$auth.user.uid[0].value">
        <v-btn color="secondary" :to="{ path: `/user/${userId}/contact` }" depressed block nuxt>
          Contact
        </v-btn>
      </div>

      <UserRecommendations class="pl-3 pr-3" v-bind:userId="userId"/>

    </v-flex>
    <v-flex xs12 md8>
      <div class="user-info">
        <div v-if="user.field_user_bio[0]" class="user-info__detail user-info__bio pt-3">
          <span class="gray">About Me</span>
          <div class="pb-3 pr-3">{{ user.field_user_bio[0].value }}</div>
        </div>
        <div
          v-if="taxonomyNames.expertise.length > 0"
          class="user-info__detail user-info__expertise pt-3"
        >
          <span class="gray">Expertises</span>
          <div class="pb-3 pr-3">
            <ul>
              <li v-for="(expertise, index) in taxonomyNames.expertise" :key="index">{{ expertise }}</li>
            </ul>
          </div>
        </div>
        <div v-if="taxonomyNames.media.length > 0" class="user-info__detail user-info__media pt-3">
          <span class="gray">Working Fields</span>
          <div class="pb-3 pr-3">
            <ul>
              <li v-for="(media, index) in taxonomyNames.media" :key="index">{{ media }}</li>
            </ul>
          </div>
        </div>
        <div
          v-if="taxonomyNames.organisations.length > 0"
          class="user-info__detail user-info__organisations pt-3"
        >
          <span class="gray">Organizations</span>
          <div class="pb-3 pr-3">
            <ul>
              <li
                v-for="(organisation, index) in taxonomyNames.organisations"
                :key="index"
              >{{ organisation }}</li>
            </ul>
          </div>
        </div>

        <div v-if="user.field_user_offer[0]" class="user-info__detail user-info__offers pt-3">
          <span class="gray">Offers</span>
          <div class="pb-3 pr-3">
            <ul>
              <li v-for="offer in user.field_user_offer" :key="offer.id">{{ offer.value }}</li>
            </ul>
          </div>
        </div>
        <div
          v-if="user.field_user_languages[0]"
          class="user-info__detail user-info__languages pt-3"
        >
          <span class="gray">Languages</span>
          <div class="pb-3 pr-3">
            <ul>
              <li
                v-for="language in user.field_user_languages"
                :key="language.id"
              >{{ language.language }} ({{ langLevel[language.level] }})</li>
            </ul>
          </div>
        </div>
        <div
          v-if="user.field_user_worksamples_link[0] || user.field_user_worksample_pdf[0]"
          class="user-info__detail user-info__work pt-3"
        >
          <span class="gray">Work Samples</span>
          <div class="pb-3 pr-3">
            <ul class="pl-0">
              <template v-if="user.field_user_worksamples_link[0]">
                <li v-for="link in user.field_user_worksamples_link" :key="link.id">
                  <a :href="link.uri" target="_blank">
                    <v-icon color="accent" small>mdi-open-in-new</v-icon>
                    {{ link.title }}
                  </a>
                </li>
              </template>
              <li v-if="user.field_user_worksample_pdf[0]">
                <a :href="user.field_user_worksample_pdf[0].url" target="_blank">
                  <v-icon color="accent" small>mdi-file-pdf-box</v-icon>
                  {{ user.field_user_worksample_pdf[0].description ? user.field_user_worksample_pdf[0].description : user.field_user_worksample_pdf[0].url }}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div v-if="user.field_user_twitter[0]" class="user-info__detail twitter pt-3">
          <span class="gray">Latest Tweets</span>
          <div class="pb-3 pr-3">
            <TwitterFeed v-bind:twitterId="user.field_user_twitter[0].value" v-bind:limit="1"/>
          </div>
        </div>
      </div>
    </v-flex>
    <!-- <div>
      Später:
      link preview, see
      https://vuejsexamples.com/vue-component-for-generate-a-link-preview/
    </div>-->
  </v-layout>
</template>

<script>
  import AppHeading from "~/components/AppHeading";
  import UserBadges from "~/components/user/UserBadges";
  import UserRecommendations from "~/components/user/UserRecommendations";
  import TwitterFeed from "~/components/content/TwitterFeed";

  export default {
    auth: true,
    components: {
      AppHeading,
      UserBadges,
      UserRecommendations,
      TwitterFeed
    },
    props: {
      user: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        userId: this.user.uid[0].value,
        taxonomies: null,
        taxonomyNames: {
          media: [],
          expertise: [],
          organisations: []
        },
        langLevel: {
          0: "Fluent",
          1: "Intermediate",
          2: "Beginner"
        }
      };
    },
    computed: {
      userCountry() {
        const { getName } = require("country-list");
        return getName(this.user.field_user_location[0].country_code);
      }
    },
    methods: {
      setTaxonomyNames() {
        let url = process.env.baseUrl + "/hostwriter/taxonomies";
        this.$axios
          .$get(url, { headers: { Authorization: null } })
          .then(result => {
            this.taxonomies = result;
          })
          .then(result => {
            this.getTermnames();
          })
          .catch(e => {
            // FIXME: add error handling for request
            console.log(e);
          });
      },
      getTermnames() {
        for (let key in this.taxonomies) {
          let taxonomy = this.taxonomies[key];
          if (this.user["field_user_" + key]) {
            this.user["field_user_" + key].forEach(element => {
              let taxonomyKey = _.findKey(taxonomy, function(o) {
                return o.value == element.target_id;
              });
              this.taxonomyNames[key].push(taxonomy[taxonomyKey].name);
            });
          }
        }
      }
    },
    created() {
      this.setTaxonomyNames();
      if (this.$route.params.id !== this.user.uid[0].value) {
        this.$auth.$storage.setUniversal("userContactName",
        this.user.field_user_firstname[0].value + " " +
        this.user.field_user_lastname[0].value, false);
      }
    }
  };
</script>


<style scoped>
  .edit-profile-link {
    width: 100%;
    text-align: right;
  }
  .user-info .gray {
    position: absolute;
  }
  .user-info .gray + div {
    margin-left: 180px;
  }
  .xs .user-info .gray,
  .sm .user-info .gray {
    position: relative;
    display: block;
  }
  .xs .user-info .gray + div,
  .sm .user-info .gray + div {

    margin-left: 0;

  }
  .user-info__detail {
    border-bottom: 1px solid #ebedf0;
  }
  .user-info__bio {
    border-top: 1px solid #ebedf0;
  }
  .user-info__work li {
    list-style: none;
  }
  .user-info__expertise > span,
  .user-info__work > span,
  .user-info__offers > span {
    text-transform: capitalize;
  }
</style>
