<template>
  <div class="badges pa-3 text-xs-left">
    <template v-for="badge in user.field_user_badges">
      <div class="pb-2" :key="badge.id" v-if="getName(badge.target_uuid) && getName(badge.target_uuid) !== 'Staff'">
        <v-icon color="secondary" class="pr-1">{{ getIcon(badge.target_uuid) }}</v-icon> {{ getName(badge.target_uuid)}}
      </div>
      <div :key="badge.id" v-else-if="getName(badge.target_uuid) && getName(badge.target_uuid) === 'Staff'">
        <i aria-hidden="true" class="v-icon icon-staff theme--light pr-1"></i>
        {{ getName(badge.target_uuid)}}
      </div>
    </template>
  </div>
</template>

<script>

  export default {
    data() {
      return {
        env: process.env.baseUrl,
        badgeData: [],
        terms: {}
      };
    },
    props: {
      user: {
        type: Object,
        required: true
      }
    },
    methods: {
      getBadgeDataRaw() {
        const url = process.env.baseUrl + "/jsonapi/taxonomy_term/badges";
        this.$axios
          .$get(url)
          .then(result => {
            this.badgeData = result.data;
          })
          .catch(e => {
            console.log(e);
          });
      },
      getIcon(uuid) {
        let icon = this.badgeData.filter(item => {
          return item.id === uuid;
        });
        if(icon.length > 0) {
          return icon[0].attributes.field_icon;
        }
        return null;
      },
      getName(uuid) {
        let name = this.badgeData.filter(item => {
          return item.id === uuid;
        });
        if(name.length > 0) {
          return name[0].attributes.name;
        }
        return null;
      }
    },
    mounted() {
      this.getBadgeDataRaw();
    }
  };
</script>

<style scoped>
.badges {
  border-top: 1px solid #ebedf0;
}
.icon-staff {
  background: url(~assets/images/icons-touch-tiles/apple-touch/apple-touch-icon.png) center 24px;
  background-size: contain;
  width: 28px;
  height: 24px;
}
</style>
