<template>
  <v-flex xs12 sm6 :lg3="lgcolumns == 3" :lg4="lgcolumns == 4" :md4="mdcolumns === 4" :md3="mdcolumns === 3" text-xs-center class="user-card">
    <v-card flat hover class="pt-5" :to="'/user/' + user.uid">
      <v-layout align-center column>
        <v-avatar size="100px" class="grey lighten-3 mb-3">
          <v-img
            :src="user.user_picture ? env + user.user_picture : require('~/assets/images/avatar.png')"
            width="100px"
            cover
          ></v-img>
        </v-avatar>
        <v-card-text class="pa-4">
          <AppHeading
            level="4"
            :heading="user.field_user_firstname + ' ' + user.field_user_lastname"
            class="text__headline mb-2"
          />
          <p class="user-teaser__interests gray" v-html="user.field_user_bio"></p>
          <div class="location pb-2">
            <v-icon color="accent" class="mt-1">mdi-map-marker</v-icon>
            <template v-if="user.field_user_location_locality || user.field_user_location_administrative_area">
              <span v-html="user.field_user_location_locality || user.field_user_location_administrative_area"></span>,
            </template> <span v-html="user.field_user_location_country_code"></span>
          </div>
        </v-card-text>
      </v-layout>
    </v-card>
  </v-flex>
</template>

<script>
  import AppHeading from "~/components/AppHeading.vue";

  export default {
    components: {
      AppHeading
    },
    data() {
      return {
        env: process.env.baseUrl
      };
    },
    props: {
      lgcolumns: {
        type: Number,
        required: false,
        default: 4,
      },
      mdcolumns: {
        type: Number,
        required: false,
        default: 3,
      },
      user: {
        type: Object,
        required: true
      }
    },
    mounted() {
      // console.log(this.user);
    }
  };
</script>

<style scoped>
  .v-card {
    border: 1px solid #E0E2E7;
    border-radius: 3px;
    width: 100%;
  }
  .user-card {
    display: flex;
  }
</style>
