<template> 
  <div class="recommendations pt-5 text-xs-left">
    <div v-if="!ownPage" class="recommendations__form">
      <v-btn
        class="toggle gray pa-0 ma-0"
        @click="showForm = !showForm"
        :disabled="ownRecommendation"
        :ripple="false"
        flat
      >
        <v-icon
          class="check mr-3"
          :class="ownRecommendation ? 'own' : ''"
          :color="ownRecommendation ? 'primary' : 'secondary'"
        >mdi-check</v-icon>
        <span class="mr-2" v-if="ownRecommendation">Recommended</span>
        <span class="mr-2" v-else>Recommend</span>
        <span>·&nbsp {{ recommendations.length || 0 }}</span>
      </v-btn>
      <v-alert :value="message" type="error" dark class="mt-3 mb-3"> {{ message }} </v-alert>
      <div v-show="showForm">
        <v-form v-if="!ownRecommendation" @submit.prevent="submit" v-model="valid" class="pb-5" ref="form">
          <v-textarea
            v-model="ratingText"
            label="Write some kind words..."
            class="pl-0"
            required
            :rules="recommendationRules"
            :disabled="ownRecommendation"
            background-color="#FFF"
            box
            rows="8"
            :hide-details="ratingText.length == 0 ? true : valid"
          ></v-textarea>
          <v-btn
            class="submit ml-0"
            :disabled="!valid || ownRecommendation || isSending"
            :loading="isSending"
            color="primary"
            depressed
            block
            @click="addRecommendation"
          >Send</v-btn>
        </v-form>
      </div> 
    </div>
    <div v-if="ownPage && recommendations.length > 0">
      <v-btn class="gray pa-0 ma-0" :ripple="false" :disabled="true" flat>
        <v-icon class="check mr-3 own" color="primary">mdi-check</v-icon>
        <span class="mr-2">Recommended</span>
        <span>·&nbsp {{ recommendations.length }}</span>
      </v-btn>
    </div>
    <ul class="recommendations__items pa-0">

      <li class="item pt-3 mt-3" v-for="(item, index) in recommendations" :key="item.id">
        <v-btn v-if="ownRecommendation && item.uid_author == $auth.user.uid[0].value"
          @click="removeRecommendation(index)"
          absolute
          fab
          small
          top right depressed
          :loading="isRemoving"
          :disabled="isRemoving"
          title="remove recommendation">
          <v-icon dark >mdi-close</v-icon>
        </v-btn>
        <div class="item__header pb-2">
          <v-avatar class="item__avatar mr-3" size="35px">
            <v-img width="35px" height="35px" :src="item.avatar || avatar" cover />
          </v-avatar>
          <div class="item__meta">
            <div><nuxt-link :to="'/user/' + item.uid_author">{{ item.from }}</nuxt-link></div>
            <div class="gray">{{ item.location || item.location_area }}</div>
          </div>
        </div>
        <div class="item__text gray pt-1" v-html="item.rating_text" v-linkified:options="{target: {url: '_blank'}}"></div>
      </li>
    </ul>
  </div>
</template>

<script>


export default {
    data() {
      return {
        ownPage: (this.$route.params.id == this.$auth.user.uid[0].value),
        ratingText: "",
        recommendations: {},
        showForm: false,
        env: process.env.baseUrl,
        valid: true,
        error: false,
        isSending: false,
        isRemoving: false,
        message: "",
        likes: 0,
        avatar: require("~/assets/images/avatar.png"),
        url: process.env.baseUrl + "/user/" + this.$auth.user.uid[0].value + "?_format=json",
        recommendationRules: [
          v => !!v || "Are you sure? Why not?",
          v => (v && v.length <= 200) || "Please shorten your Text - text must be less than 200 characters",
        ]
      };
    },
    props: {
      userId: {
        type: Number,
        required: true
      }
    },
    methods: {
      removeRecommendation() {
        this.isRemoving = true;
        let patchData = { field_user_recommended: []};
        Array.prototype.push.apply(patchData.field_user_recommended, this.$auth.user.field_user_recommended);
        let data = patchData.field_user_recommended.filter(el => {
          return el.target_id !== this.userId;
        });
        patchData.field_user_recommended = data;
        this.saveRecommendations(patchData);
      },
      addRecommendation() {
        this.isSending = true;
        let patchData = {};
        patchData.field_user_recommended = [{
          "target_id": this.userId,
          "rating_text": this.ratingText,
          "rating_format": "basic_html",
        }];
        Array.prototype.push.apply(patchData.field_user_recommended, this.$auth.user.field_user_recommended);
        patchData.field_user_recommended.push(this.$auth.user.field_user_recommended);
        this.saveRecommendations(patchData);
      },
      saveRecommendations(patchData) {
        this.error = false;
        this.message = "";
        this.$axios.patch(this.url, JSON.stringify(patchData), {
          headers: {
            "Content-Type": "application/json",
            "X-CSRF-Token": this.$auth.$storage.getUniversal("csfr_token")
          }
        })
        .then((response) => {
          this.getRecommendations();
        })
        .then(() => {
          this.isSending = false;
          this.isRemoving = false;
          this.showForm = false;
          this.ratingText = "";
        })
        .catch(e => {
          this.isSending = false;
          this.isRemoving = false;
          this.error = true;
          this.message = "Sorry, could not proceed - please try again later"
        });
      },
      getRecommendations() {
        this.error = false;
        this.message = "";
        const url = process.env.baseUrl + "/hostwriter/recommendations/" + this.userId + "?_format=json";
        this.$axios.$get(url, { headers: { Authorization: null }})
          .then(result => {
            this.recommendations = result.results;
            if (result.pager.count > 0) {
              this.likes = result.pager.count + 1;
            }
          })
          .catch(e => {
            this.error = true;
            this.message = "Sorry, could not load recommendations - please try again later"
          });
      }
    },
    computed: {
      ownRecommendation() {
        if (this.recommendations.length > 0) {
          return this.recommendations.filter(el => {
              return parseInt(el.uid_author) === parseInt(this.$auth.user.uid[0].value);
          }).length > 0;
        }
        else {return false};
      }
    },
    created() {
      this.getRecommendations();
    }
  };
</script>

<style scoped>
  .check {
    border: 1px solid var(--v-secondary-base);
    border-radius: 100%;
    padding: 10px;
  }
  .toggle.v-btn:hover:before,
  .toggle.v-btn:focus:before {
    background-color: transparent;
  }

  .check + span {
    color: var(--v-secondary-base);
  }
  .own.check {
    border: 1px solid var(--v-primary-base);
  }
  .own.check + span {
    color: var(--v-primary-base);
  }
  .check + span + span {
    color: var(--v-info-base);
  }
  .check + span + span::beore {
    content: "·";
  }
  .item {
    position: relative;
    list-style: none;
    border-top: 1px solid #ebedf0;
    word-break: break-word;
  }
  .item__avatar {
    float: left;
  }
  .item__header {
    font-size: 12px;
  }
  .textarea {
    border-width: 1px;
  }
  .recommendations .v-btn--disabled .v-icon {
    color: var(--v-primary-base) !important;
  }
</style>
