<meta name="msapplication-TileImage" content="/_icons/win8-tile-144x144.png"> 
<meta name="msapplication-TileColor" content="#ffffff"> 
<meta name="msapplication-navbutton-color" content="#ffffff"> 
<meta name="application-name" content="Hostwriter"/> 
<meta name="msapplication-tooltip" content="Hostwriter"/> 
<meta name="apple-mobile-web-app-title" content="Hostwriter"/> 
<meta name="msapplication-square70x70logo" content="/_icons/win8-tile-70x70.png"> 
<meta name="msapplication-square144x144logo" content="/_icons/win8-tile-144x144.png"> 
<meta name="msapplication-square150x150logo" content="/_icons/win8-tile-150x150.png"> 
<meta name="msapplication-wide310x150logo" content="/_icons/win8-tile-310x150.png"> 
<meta name="msapplication-square310x310logo" content="/_icons/win8-tile-310x310.png"> 
