<template>
  <div class="announcement">
    <v-btn
      href="https://unbiasthenews.org/"
      target="_blank"
      color="secondary"
      block class="ma-0"
      small
      depressed
    >  Hostwriter published a book! Click here to check out "Unbias the News: Why Diversity Matters for Journalism"</v-btn>
  </div>
</template>

<script>
  export default {
    name: 'AppAnnouncement'
  };
</script>


<style scoped>
.v-btn {
  height: auto;
  min-height: 25px;
  border-radius: 0;
}
.announcement /deep/ .v-btn__content {
  white-space: normal;
}
</style>