<template>
  <v-container class="text-xs-center pt-3">
    <v-layout
      column
      text-xs-center
      align-center
      class="pa-5">
        <v-btn depressed v-if="banner.button" :color="banner.button.color" :href="banner.button.url">{{ banner.button.content }}</v-btn>
        <p v-if="banner.text" v-html="banner.text"></p>
    </v-layout>
  </v-container>
</template>


<script>
  import AppHeading from "~/components/AppHeading.vue";

  export default {
    name: 'AppBanner',
    components: {
      AppHeading
    },
    props: {
      banner: {
        type: Object,
        required: true
      }
    }
  };
</script>

<style>
  .banner.white {
    background: #FFF;
  }
  .button {
    margin-top: var(--basic-padding);
  }
  .banner p {
    color: #FFF;
  }
</style>
