<template>
  <v-carousel
    light
    :height="$vuetify.breakpoint.smAndDown ? heightMobile : height"
    :class="{
      'pl-0 pr-0': $vuetify.breakpoint.smAndDown,
      'pl-5 pr-5': $vuetify.breakpoint.mdAndUp
    }"
  >
    <v-carousel-item
      :class="{
        'pl-0 pr-0': $vuetify.breakpoint.smAndDown,
        'pl-5 pr-5': $vuetify.breakpoint.mdAndUp
      }"
      v-for="(item, i) in carousel"
      :key="i"
    >
      <div :class="{
        'pl-0 pr-0': $vuetify.breakpoint.smAndDown,
        'pl-5 pr-5': $vuetify.breakpoint.mdAndUp
      }">
        <v-avatar size="80px" class="grey lighten-3 mb-3 pb-3">
          <v-img :src="item.src" cover/>
        </v-avatar>
        <p class="intro">“{{ item.text }}”</p>
        <p class="author gray">
          {{ item.author }} – <span class="location">{{ item.location }}</span>
        </p>
      </div>
    </v-carousel-item>
  </v-carousel>
</template>

<script>
// See docs: https://v15.vuetifyjs.com/en/components/carousels
export default {
  name: "AppCarousel",
  props: {
    carousel: {
      type: Array,
      required: true
    },
    height: {
      type: Number
    },
    heightMobile: {
      type: Number
    }
  }
};
</script>

<style>
.v-carousel {
  box-shadow: none;
}
.v-carousel img {
  max-width: 100%;
}
.v-carousel .v-carousel__controls {
  background: transparent;
}
.v-carousel .theme--dark.v-btn {
  color: var(--v-info-darken1);
}
.v-carousel .v-btn.v-btn--active .v-icon {
  color: #98a2b9;
}
.v-carousel .v-carousel__controls__item .v-icon {
  opacity: 1;
  color: #FFF;
}
.v-carousel .v-carousel__controls .mdi-circle:before {
    font-size: 8px;
}
.v-carousel .v-carousel__controls .v-btn {
  width: inherit;
  height: inherit;
}
.v-carousel__controls__item {
    margin: 0 5px !important;
}
.v-carousel .v-carousel__prev .v-icon,
.v-carousel .v-carousel__next .v-icon {
  background: #fff;
}
/* workaround for dyamic height (vuetify does not offer dynamic height) */
@media (min-width: 0) and (max-width: 768px) {
  .v-carousel .v-carousel__prev,
  .v-carousel .v-carousel__next {
    display: none;
  }
}
.press-slider {
  width: 100%;
}
.press-slider .v-responsive__content {
  max-width: 800px;
  margin: 0 auto;
}
.press-slider .v-responsive__content > div {
  padding-top: 30px;
}
.press-slider .v-carousel__next {
  padding-right: 50px !important;
}
.press-slider .v-carousel__prev {
  padding-left: 50px !important;
}
</style>
