<template>
  <div
    class="hero"
    :class="{ xs: $vuetify.breakpoint.xs, md: $vuetify.breakpoint.md }"
  >
    <v-img
      height="100%"
      :src="require('@/assets/images/backgrounds/hostwriter-bg-map.png')"
      alt="world map"
    />
    <div class="wrapper">
      <div class="meta text-xs-center">
        <v-layout wrap>
          <v-flex xs12 md8 offset-md2>
            <div>
              <AppHeading
                level="2"
                heading="Covid-19"
                class="pl-2 pr-2 mt-1 pt-2 mainline secondary"
              /><br />
              <AppHeading
                level="2"
                heading="Collaboration"
                class="pl-2 pr-2 mt-1 pt-2 mainline primary"
              /><br />
              <AppHeading
                level="2"
                heading="Wire"
                class="pl-2 pr-2 mt-1 pt-2 mainline primary"
              />
              <AppHeading
                level="4"
                heading="Commission journalists worldwide."
                class="pt-5 mb-2"
              />
            <p class="text-xs-center" :class="{ 'px-5': $vuetify.breakpoint.mdAndUp }">
              National borders are being closed, research trips canceled, journalism projects postponed. 
              Many newsrooms can no longer send their own reporters to regions like Italy, the United States, or India. 
              At the same time, local journalists suffer from work restrictions and an ongoing loss of income. 
              That’s why we have launched our COVID-19 Collaboration Wire - to help connect editors with journalists all 
              over the world ready to fact-check, research and report from their regions. 
            </p>
            </div>

            <div class="scroll-indicator">
              <v-icon color="accent">mdi-arrow-down</v-icon>
            </div>
          </v-flex>
        </v-layout>
      </div>

      <div
        v-if="caption"
        class="subline"
        v-html="caption"
        :class="{ xs: $vuetify.breakpoint.xs, md: $vuetify.breakpoint.md }"
      ></div>
    </div>
  </div>
</template>

<script>
import AppHeading from "~/components/AppHeading.vue";

export default {
  name: "AppHero",
  components: {
    AppHeading,
  },
  data() {
    return {
      caption: false,
      intro: "Hostwriter powers the collaborative future of journalism.",
      headline: {
        level: "2",
        heading: "You want to tell great stories? You're not alone.",
      },
      button: {
        content: "Join Hostwriter",
        url: "/user/login",
        type: "button",
        classes: ["button button-accent"],
        color: "secondary",
      },
    };
  },
};
</script>

<style scoped>
.hero {
  height: 100vh;
  margin-bottom: 0;
  position: relative;
  background: var(--v-primary-base);
}
.mainline {
  color: #fff;
  display: inline-block;
  font-family: "AdelleSans";
  text-transform: uppercase;
  font-size: 46px;
  line-height: 46px;
}
.xs .mainline {
  font-size: 36px;
  line-height: 36px;
}

.hero {
  min-height: 800px;
}
/* .introtext {
  max-width: 700px;
  margin: 0 auto;
} */
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.meta {
  display: flex;
  align-items: center;
  padding: 24px;
  justify-content: left;
  height: 100%;
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
}
.subline {
  position: absolute;
  color: #688692;
  bottom: 20px;
  width: 100%;
  text-align: center;
  padding: 0 10px;
}
.subline.xs {
  font-size: 12px;
  line-height: 18px;
}
.subline.sm {
  font-size: 14px;
  line-height: 18px;
}
.scroll-indicator {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}
</style>
