<template>
  <div class="mobile-menu">
    <v-divider></v-divider>
    <v-list light dense class="mt-2">
      <v-list-tile
        color="primary"
        v-for="item in items"
        :key="item.index"
        :to="item.to"
        :href="item.href"
        :target="item.target"
        exact
      >
        <v-list-tile-content>
          <v-list-tile-title v-text="item.title">{{ item.title }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>

    <v-list v-if="this.$auth.$state.loggedIn" light dense class="pt-2 pb-2">
      <v-divider class="pb-3"></v-divider>
      <v-list-tile color="#00005A" v-for="item in itemsProfile" :key="item.index" :to="item.to" @click="item.click==='logout'?logout():false" exact>
        <v-list-tile-action>
          <v-icon color="primary" v-if="item.icon">{{ item.icon }}</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title v-text="item.title">{{ item.title }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>

    <div v-if="!this.$auth.$state.loggedIn" class="ma-3 pb-2 login-buttons">
      <v-btn block outline to="/user/login" nuxt>Log in</v-btn>
    </div>

    <div class="social pt-3">
      <v-btn flat icon class="ml-1 mr-0" href="https://www.linkedin.com/company/hostwriter/" target="_blank">
        <v-icon>mdi-linkedin</v-icon>
      </v-btn>
      <v-btn flat icon class="ml-1 mr-0" href="https://twitter.com/hostwriter" target="_blank">
        <v-icon>mdi-twitter</v-icon>
      </v-btn>
      <v-btn flat icon class="ml-1 mr-0" href="https://www.facebook.com/hostwriter.org" target="_blank">
        <v-icon>mdi-facebook</v-icon>
      </v-btn>
    </div>

  </div>
</template>

<script>
  export default {
    data() {
      return {
        loggedIn: false,
        items: [],
        itemsProfile: []
      };
    },
    computed: {
      uid() {
        if(this.$auth.$state.loggedIn) {
          return this.$auth.user.uid[0].value;
        }
      }
    },
     watch:{
       "$auth.$state.loggedIn": function(val) {
          this.buildMenu();
      }
    },
    methods: {
      logout() {
        this.$auth.logout();
        this.buildMenu();
      },
      buildMenu() {
        this.items = [
          { title: "Home", to: "/" },
          { title: "About", to: "/about" },
          { title: "Collaboration", to: "/hostwire" },
        ];
        if(this.$auth.$state.loggedIn) {
          this.itemsProfile = [
            { title: "My profile", to: "/user/" + this.uid, icon: "mdi-face"},
            { title: "My settings", to: "/user/" + this.uid + "/edit", icon: "mdi-cog"},
            { title: "My dashboard", to: "/user/" + this.uid + "/dashboard", icon: "mdi-view-dashboard"},
            { title: "Log out", click: "logout", icon: "mdi-exit-to-app"}
          ];
          this.items.pop();
          this.items.push(
            { title: "Advice", to: "/search" },
            { title: "Collaboration", href: process.env.HOSTWIRE_URL, target: "_blank"},
            { title: "Accommodation", to: "/search/accommodation" })
        }
        else {
          this.itemsProfile = [];
        }
      }
    },
    created() {
      this.buildMenu();
    }
  };
</script>

<style scoped>
  .mobile-menu {
    width: 100%;
    background: white;
  }
  .login-buttons .v-btn--active:before, 
  .login-buttons .v-btn:focus:before {
    background-color: #FFF;
  }
  .social {
    background: #EBEDF0;
    text-align: center;
  }
  .mobile-menu .primary--text.v-list__tile--active,
  .mobile-menu .primary--text.v-list__tile--active .v-list__tile__title {
    color: var(--v-secondary-base);
  }
  .mobile-menu .v-list__tile--active .v-list__tile__action:first-of-type .v-icon.primary--text {
    color: var(--v-secondary-base)!important;
  }
  .mobile-menu .v-list--dense .v-list__tile .v-list__tile__title {
    font-size: 16px;
  }
  .mobile-menu .v-list--dense .v-list__tile .v-list__tile__action {
    min-width: 40px;
  }
</style>
