<template>
  <v-menu class="pl-3" open-on-hover right bottom offset-y>
    <v-btn slot="activator" class="mt-0" icon>
      <v-avatar size="40px" class="grey lighten-3">
        <v-img v-if="userImg" width="42px" height="42px" :src="userImg" cover/>
        <span v-else></span>
      </v-avatar>
    </v-btn>
    <v-list>
      <v-list-tile>
        <v-list-tile-content>
          <v-btn flat class="ml-0 mr-0" nuxt :to="userEditLink" block exact>My profile</v-btn>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile>
        <v-list-tile-content>
          <v-btn flat class="ml-0 mr-0" nuxt :to="userEditLink + '/dashboard'" block>My dashboard</v-btn>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile>
        <v-list-tile-content>
          <v-btn flat class="logout ml-0 mr-0" @click.prevent="submitUserLogout" block>Log out</v-btn>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-menu>
</template>

<script>
  export default {
    data() {
      return {
        userImg: "",
        userEditLink: "",
        avatar: require("~/assets/images/avatar.png"),
      };
    },
    created() {
      if (
        this.$auth &&
        this.$auth.loggedIn == true &&
        this.$auth.user.user_picture
      ) {
        this.userImg = this.$auth.user.user_picture[0] ? this.$auth.user.user_picture[0].url : this.avatar;
        this.userEditLink = "/user/" + this.$auth.user.uid[0].value;
      }
    },
    methods: {
      submitUserLogout() {
        this.$auth.logout();
      }
    }
  };
</script>


<style scoped>
  .v-list__tile__content a {
    font-size: 14px;
    text-decoration: none;
  }
  .logout {
    font-size: 14px;
  }
</style>


