<template>
  <v-layout row wrap justify-center>
    <v-flex xs12>
      <div class="video embed-responsive" :class="ratio">
        <img v-if="thumbnail" :src="thumb_highres" alt @load.once="validateThumbnail" @click="play" />
        <div v-if="thumbnail" class="play" @click="play"></div>
        <iframe v-else :src="source" allowfullscreen="allowfullscreen"></iframe>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    name: "VideoElement",
    props: {
      data: {
        type: Object,
        required: true,
        _type: String,
        src: String,
        ratio: String
      }
    },
    data: function() {
      return {
        thumbnail: true
      };
    },
    computed: {
      thumb_highres: function() {
        return "//img.youtube.com/vi/" + this.data.src + "/maxresdefault.jpg";
      },
      /**
       * The iframe source for the player, including query parameters.
       *
       * @see https://developers.google.com/youtube/player_parameters
       */
      source: function() {
        return (
          "https://www.youtube-nocookie.com/embed/" +
          this.data.src +
          "?rel=0&autoplay=1"
        );
      },
      /**
       * Build a class attribute for the player div using the given aspect ratio.
       */
      ratio: function() {
        return "embed-responsive_" + this.data.ratio;
      }
    },
    methods: {
      /**
       * Click handler for the play button, sets thumbnail flag to false.
       */
      play: function() {
        this.thumbnail = false;
      },
      /**
       * Validate the received thumbnail image and provide a fallback in case it's missing.
       *
       * Youtube provides thumbnails in multiple resolutions. We're trying to load a large image
       * for wide players. In case this size isn't available Youtube will send a small dummy
       * thumbnail instead. By checking the size of the received image we're able to switch to a
       * lower resolution if necessary.
       *
       * @param event
       */
      validateThumbnail: function(event) {
        if (event.currentTarget.naturalHeight < 100) {
          event.target.src =
            "//img.youtube.com/vi/" + this.data.src + "/hqdefault.jpg";
        }
      }
    }
  };
</script>

<style scoped>
  /* The thumbnail (preview) image, fits into the parent container */
  img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    margin: auto;
    border: none;
    cursor: pointer;
  }

  .video {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }  
  /* The play button */
  .play {
    width: 64px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -22.5px;
    background: url("~static/play.png") no-repeat; /* This image is 64 x 45 px. */
    filter: grayscale(100%); /* The button is red, but will be greyed out initially */
    cursor: pointer;
  }

  /* Hover effect to turn the button red */
  img:hover + .play,
  .play:hover {
    filter: grayscale(0%);
  }

  /* Replacement for deprecated frameborder attribute */
  iframe {
    border: none;

  }
  /***** responsive embed - ratio *****/
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive .embed-responsive__item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive_21by9 {
  padding-bottom: 42.85714%;
}

.embed-responsive_16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive_4by3 {
  padding-bottom: 75%;
}

.embed-responsive_1by1 {
  padding-bottom: 100%;
}

</style>
