/****************************************************************************
********** Basic Styles, Variables, Media Queries and Typography ************
****************************************************************************/

/***** Fonts  *******/
/* normal = 300 */
@font-face {
  font-family: Adelle;
  src: url("../fonts/Adelle_Regular.woff") format("woff"), url("../fonts/Adelle_Regular.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Adelle;
  src: url("../fonts/Adelle_Bold.woff") format("woff"), url("../fonts/Adelle_Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: AdelleSans;
  src: url("../fonts/Adelle_Sans_Regular.woff") format("woff"), url("../fonts/Adelle_Sans_Regular.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* bold = 600 */
@font-face {
  font-family: AdelleSans;
  src: url("../fonts/Adelle_Sans_Bold.woff") format("woff"), url("../fonts/Adelle_Sans_Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@media only screen and (min-width: 1184px){
  .container {
      max-width: 1184px!important;
  }
  .container.fluid {
    max-width: 100%!important;
  }
}

/* BASIC STYLING */
body {
  font-size: 16px;
}
.highlight {
  font-size: 20px;
  line-height: 30px;
}
.v-btn {
  padding-top: 2px!important;
}
.v-content a {
  color: var(--v-accent-base);
  text-decoration: none;
}
.v-content button a {
  color: inherit;
}
.v-content a.more-link {
  display: block;
  padding-top: 20px;
}
.background {
  background: #f2f4f6!important;
}
.container {
  background: #FFF;
}
.accent-text {
  color: var(--v-accent-base);
}

.intro {
  font-family: 'AdelleSans';
  font-size: 26px;
  line-height: 38px;
  max-width: 960px;
}

.section-headline {
  display: inline-block;
  border-bottom: 4px solid var(--v-accent-base);
}

.gray {
  color: #98a2b9;
}

.v-card--hover:hover  {
  box-shadow: 0px 0px 30px 0 rgba(26, 26, 46, 0.1) !important
  /* box-shadow: 10px 20px 30px 0 rgba(26, 26, 46, 0.1)!important; */
}

.theme--light.v-label {
  color: #98a2b9!important;
}

img.centered {
  margin: 0 auto;
  display: block;
}

.bg-gradient {
  padding-top: 110px;
  padding-bottom: 40px;
  background: #ff5722;
  background: -moz-linear-gradient(135deg, #ff5722 42%, #f76b1c 79%);
  background: -webkit-linear-gradient(135deg, #ff5722 42%, #f76b1c 79%);
  background: linear-gradient(135deg, #ff5722 42%, #f76b1c 79%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5722', endColorstr='#f76b1c',GradientType=0 );
}

.break-word {
  word-wrap: break-word;
}

label.required::after {
  content: "*";
}

.v-btn--outline {
  border: 2px solid currentColor !important;
}

.list--checkmark {
  list-style: none;
}

.list--checkmark li {
  margin-bottom: 8px;
}

.list--checkmark li:before {
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  font-family: "Material Design Icons";
  content: "\F012C";
  font-weight: bold;
  color: var(--v-accent-base) !important;
  vertical-align: bottom;
}
