<template>
  <v-app>
    <AppHeader :theme="theme"></AppHeader>
    <v-content>
      <nuxt />
    </v-content>
    <AppFooter></AppFooter>
  </v-app>
</template>

<script>
  import AppHeader from '~/components/AppHeader';
  import AppFooter from '~/components/AppFooter';

  export default {
    components: {
      AppHeader, AppFooter
    },
    data() {
      return {
        theme: 'dark',
      }
    }
  }
</script>
