<template>
  <v-container grid-list-xl mb-0>
    <v-layout wrap>
      <v-flex xs12 md8 offset-md2>
        <section class="pt-3 pb-5 text-xs-center">
          <v-icon class="page-error" color="error" right dark x-large>mdi-fishbowl-outline</v-icon>
          <AppHeading
            :level="headline.level"
            :heading="headline.heading"
            class="text__headline mb-4 pt-3"
          />
          <p v-if="error.statusCode === 404" class="intro">
            We searched everywhere, but this page does not exist.
          </p>
          <p v-else class="intro">
            An error occured, please try again later.
          </p>
          <nuxt-link to="/">Let's start again from the homepage.</nuxt-link>
        </section>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import AppHeading from "~/components/AppHeading"; 

  export default {
    props: ["error"],
    components: {
      AppHeading
    },
    layout: "default", // you can set a custom layout for the error page
    data() {
    return {
      headline: {
        level: "2",
        heading: "Sorry."
      }
    };
  },
    mounted() {
      console.log(this.error);
    }
  };
</script>

<style scoped>
  .v-icon.page-error /deep/ {
    font-size: 120px !important;
  }
</style>