<template>
  <v-container grid-list-xl>

      <section class="pt-3 pb-5">
      <v-layout row wrap>
        <v-flex xs12 sm4 order-xs2 align-self-center>
          <v-img :src="require('~/assets/images/code-of-ethics.png')" class=""></v-img>
        </v-flex>
        <v-flex xs12 sm8>
          <AppHeading :level="headline.level" :heading="headline.heading" class="text__headline mb-4" />
          <p>The ethos of Hostwriter is one of collaboration, as both a practical necessity but also an ideal. It goes without saying members are expected to treat each other professionally. Giving advice does not mean revealing sensitive sources, engaging in research is not an invitation to steal someone’s story and sleeping at a colleauges is no free hotel room.<br /> Before teaming up for collaboration, we strongly advise you to talk about the money issue. Please always make sure that the terms of collaboration are clear and all involved in agreement.<br /> <br /> By becoming a member of Hostwriter you agree to our code of ethics.<br /><br /> You agree not to:</p>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12 md4>
          <h4>(a)</h4>
          <p>use Hostwriter in violation of any applicable law or regulation, including promoting or encouraging any illegal activity;</p>
          <h4>(b)</h4>
          <p>infringe the rights of any third party, including without limitation, intellectual property, privacy, publicity or contractual rights;</p>
          <h4>(c)</h4>
          <p>use Hostwriter in any manner that could interfere with, disrupt, negatively affect or inhibit other members from fully enjoying the Services or that could damage, disable, overburden or impair the functioning of the Services in any manner;</p>
          <h4>(d)</h4>
          <p>use Hostwriter in connection with the distribution of spam in the sense of § 7 Act Against Unfair Practices (UWG) or comparable foreign laws where applicable,</p>
          <h4>(e)</h4>
          <p>stalk, intimidate, threaten or otherwise harass or cause discomfort to any other member or user of our Services;</p>
          <h4>(f)</h4>
          <p>collect, store or utilize any information about any other member or user other than as permitted on our Services;</p>
        </v-flex>
        <v-flex xs12 md4>
          <h4>(g)</h4>
          <p>use Hostwriter for any commercial purpose as such with regard to journalistic practice (especially e.g. services provided for free in the field of accommodation )</p>
          <h4>(h)</h4>
          <p>register for more than one member account;</p>
          <h4>(i)</h4>
          <p>impersonate any person, or falsify or otherwise misrepresent yourself with any person, whether by providing or omitting to provide information;</p>
          <h4>(j)</h4>
          <p>circumvent or attempt to defeat any security or verification measure relating to use of the Services;</p>
          <h4>(k)</h4>
          <p>assist any third party in doing any of the foregoing.</p>
          <h4>(l)</h4>
          <p>misappropriate or obtain by using dishonest methods investigative or otherwise confidential information collected or otherwise received by other users;</p>
          <h4>(m)</h4>
          <p>misuse Hostwriter as hotel booking service or otherwise as a commercial provider of overnight accommodation, e.g. by misrepresenting as journalist to arrange hotel bookings.</p>
        </v-flex>
        <v-flex xs12 md4>
          <h4>Termination</h4>
          <p>In case of the user’s breach of these terms, we may, at our discretion and without incurring any liability:</p>
          <h4>(a)</h4>
          <p>terminate your access to our Services,</p>
          <h4>(b)</h4>
          <p>deactivate or delete your account and all related information and files in such account and/or</p>
          <h4>(c)</h4>
          <p>bar your access to any of such files or Services. In any of these instances, you are not permitted to register for another Hostwriter account without our prior written permission.</p>
        </v-flex>
      </v-layout>
    </section>

  </v-container>
</template>



<script>
import AppHeading from "~/components/AppHeading";

export default {
  auth: false,
  components: {
    AppHeading
  },
  head() {
    return {
      title: "Hostwriter | Code of ethics",
      meta: [
        { hid: 'description', name: "description", content: "The ethos of Hostwriter is one of collaboration, as both a practical necessity but also an ideal." }
      ]
    }
  },
  data () {
    return {
      headline: {
        level: "2",
        heading: "Code of ethics"
      }
    }
  }
};
</script>
