<template>
  <v-container grid-list-xl background>
    <section class="pt-3 pb-5">
      <AppHeading :level="headline.level" :heading="headline.heading" class="text__headline mb-4"/>
    </section>
    <v-layout wrap>
      <v-flex xs12 sm8 order-xs2 order-md1>
        <AppHeading level="4" heading="For non-encrypted messages, please use this contact form:" class="text__headline mb-4"/>
        
        <ContactForm v-bind:type="contactType"/>
      </v-flex>
      <v-flex xs12 sm4 order-xs1 order-md2>
        <h4 class="pb-3">Would you like to send us an encrypted email?</h4>
        <p>Please use the following address and the public key (PGP) provided below:
          <a href="mailto:hostwriter@posteo.de">hostwriter@posteo.de</a>
        </p>
        <v-expansion-panel>
          <v-expansion-panel-content>
            <div slot="header">Public Key</div>
            <v-card>
              <v-card-text>
                <p class="break-word">-----BEGIN PGP PUBLIC KEY BLOCK-----<br>Version: Mailvelope v3.0.2<br>Comment: <a href="https://www.mailvelope.com">https://www.mailvelope.com</a></p>
                <p class="break-word">xsFNBFu+TI0BEADObRwj0xJLXx2waKV/JR2jFxlOvvfsuO53+4CsVc5EqFJd<br>VyGBiMxuHCmsQrc8bTFTuvSi2Oi8cLKz1iMB+JU5nIbPoBBXD6f64xrgVnwp<br>nLGkNiUdeFYLUs1CPUtRp5gqbPbvM+s63kg2/+keUyM0jRRdXfuXgB7yJCda<br>iJ3xNzcoIJqzR0QRhQN6ba1JXd5LuZaB5f/IjRX9EJunsYF5FKgxPs4lFusi<br>7J52H/hV7pS43YDLZCKSGj4wRh9txm4JILFSRIYTaxkRIKa9tiqUN0q4TIGd<br>xV20gXbCgrWXssZYl6B//TCW2CYSxwMx1xZpic/9OD/1rkHhxHNbpY/SPa5O<br>Kpr23c5oIWVx8EKcTRCIRk4PsJkIy7u/q66CgHVRYPepteeXkLLFQClpwxGr<br>sPcOUX4mvvEXAXB1bf0BG/eWhNC3W6TJT61Gddh5RcqTloorFDVrJmj1QQrR<br>GP/44CkyHHDfZa9LPE/Tq0ltXLUML7Cn4YJ7AWzYL87aWdkIMHfRsh8n51w7<br>dqjVfh3YdMNIIiM5jTJKYQMoRqv+kyplLLE4pdPKM3NA3STSaRzEkJ/4S4Kn<br>y3+U9p75cT8QdnZyfUleTaSE7nfijFPjWVzwmgNKHX2MfhHt1MOGbWpyW6n/<br>LsEKAceHEvgn7jnEpu1NB2rGToCt5FUH3ITOVwARAQABzSFIb3N0d3JpdGVy<br>IDxob3N0d3JpdGVyQHBvc3Rlby5kZT7CwX8EEAEIACkFAlu+TJIGCwkHCAMC<br>CRCgMtx4SPXCpwQVCAoCAxYCAQIZAQIbAwIeAQAKCRCgMtx4SPXCp8QbD/sH<br>zV7bcYUWrZMwoESYHYeRhIUKXpEzZVR0a79OGbGFK5hpG1OtkB3eNT2gXm1F<br>pmTmzX1CP3SImmb6JRRK1wuN3fPh8GrSpmMX3pxllb4zkkMkcp1JNHGdA6RP<br>KCh2AdVdpiq1H2W2K8BNxsaqSIpV46XlsS1wV0NQJgZLP9g35LDu+leCdVI1<br>DgpUf0jEHCBmeIoYUkHZlLOWjvjRsDqq2GQs/8LabYXUsCEloqybljTqkIbq<br>KqAFXONDyjXc3AkUGCn/PrA1R7RQpeKLupv+s0qkqNx7C6+twouRHdSY2461<br>kAS5hvDexDc/iX5UdG9BCfwipB5+CKpKS0WcwW3MZH/Jm4+o5pNS+jCdqCAF<br>N4OBgdicBH2Ve1VJmukJY02blc4tUfZwoE7U+jqEN33cZzXKtjHNgzhWx3Z2<br>PqxiLyIJMjd5YZKYHxWc4lSZaKzL8zLQBhbtM8/1+uAEbOMSKn4n6Q1BIRm5<br>1AxDIMJGbigriIyWWNuK/df0Y7MXkd2UPw5bI5c4JCawnr57wzCUwPxIbrt4<br>+yzruqMgY4z93d0lS7z1hLlI4aJem6eMjZ12UVEEScLllA4HpPm052j93n0d<br>8K+ayDVS1rmTk5EcxU3CCkZ9uWDvjkM3PkduSZRH07QxI96xYaZ5D2B4bRpe<br>KtBmIHsBP9NmJaQP2cInXs7BTQRbvkyNARAA2O6pY3oX9SvI8Cvaj/f2y+Ak<br>g2Gqv5vt/0VXmc+4msF80TzgLZqdiJ1okAZYKKhUrk5QYQKiyfBEke7h0POc<br>RX9hQGSfoDpKdz2m5NCGZcGl0nKH2J6RjhUmLViTQYztemIX7MPxE7yNcf3/<br>qHtYoDICaaDuE3JkU1jonkT5VOQFQY0A7WDwcBFoBTCAfOl6Qs7lOq7TOn5b<br>tM5ZTpi+SVhUK0A5xw4ru5roGVP+pEdcu888/rsBQ0lNQfHXdUnblmLxgUvb<br>xZagXx4j9bOGo3u+qxZPK4fysZ+MFEQpIEYwaYupb9MIfdYEb9tu5L/L41C4<br>cgCXKpSMRLYoeMbUvrfruv6PcSwhYM9vWajm4bxSIXqvcwjHiF3gNmM0FY7i<br>NUz6gu4ZPD+EtJQb0/dbPuG3KC08bWt276ZQgLOnwTbqWZzxbWyT+spYxqh5<br>6LHI98cvky3F50QbGuvtunUdyIDu0aWFO35zJ449XkD4GB203eG9EZcuFrDW<br>UMXD9r5kaGaJNNqjQuvassJQLNtSn2FgslTv4gwhHxfMGr3zG/uPA6XDHBnc<br>Gb5gg++bXm97rZ/cwQ3ojyXRJCFmIjkUm8dpipuKjR+PFlCUc8uixfhceOqY<br>CA19uswvWCDJ95DdJem/XHB9VlOwoyGgo7d5ql9/JJoob9moTC9LpcqqKNcA<br>EQEAAcLBaQQYAQgAEwUCW75MkwkQoDLceEj1wqcCGwwACgkQoDLceEj1wqf8<br>Dw//daD/7zfDGQiADtT9d4/SYbwqk1sqpvDFNGEeb1uhaz0ztmY29HT8Q5aC<br>F3qL3EwdwxYoUF7C7VkxtFPA148ZIDLeLWzTGc1qjvUuRp9f0WBXWvy9DwgQ<br>9ugIq4QBULHR81YfW39uAnBUgo7ojUBghsyeFPUhh3U46HfcDz1VoNwFF5FK<br>bUeMGJu7QTc8+u/RXxM2itDiWB0Zl1eg5o6tHl/jTPewM28ybfeqGADA69mq<br>LbDV59tOeHrP7R/KVOusEDyOXTHatDvIdgOGFYudek6vvKgDXLf/GaNtO92v<br>9jdYj1vqrenD+Z8xTg0vCE1yF2aqTsFotlc1/LrtK5fTGcr/5SDw+L/MWD65<br>9/c3FdiiNsmmL/+V/YUytfuR6NM6WMkkRLYrhZkCNEvgkZOIZN5n1c7hLC8Q<br>wc1sGUMhhSOKuEo7r5g13VPcKNz5DfOGBGMHzWBnxcP2iS/OmXy4NnvqDAlk<br>+C/1MPFA1p+1I1H8HlmfAJpqlj05zwq27PYF34CHIg8IKIs2ftGI5V/xoPiE<br>HFug4jAxvMMaEm30FS1B/Q9oC/94KnLfNNlOAqMlpXW96Z0x7xQV9NoBdsAr<br>K32ILUfHLJfWzkdObkuUe407fw+YwDuN08ZBRJXMFSR6QI/7OYZJ1b0VG7Bf<br>QzknPf7wGgWUPaYaZgFTSXBO510=<br>=/Sm2<br>-----END PGP PUBLIC KEY BLOCK-----</p>
              </v-card-text>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-flex>
    </v-layout>
    <AppBanner v-bind:banner="banner"/>
  </v-container>
</template>


<script>
import AppHeading from "~/components/AppHeading";
import AppBanner from "~/components/AppBanner";
import ContactForm from "~/components/forms/ContactForm";

export default {
  auth: false,
  components: {
    AppHeading,
    AppBanner,
    ContactForm
  },
  head() {
    return {
      title: "Hostwriter | Contact Form",
      meta: [
        { hid: 'description', name: "description", content: "We are happy to hear from you - please use our contact form to get in touch with us." }
      ]
    }
  },
  data() {
    return {
      contactType: "feedback",
      banner: {
        class: "banner white",
        headline: {
          level: "3",
          heading: "You came across a violation of the freedom of press?"
        },
        text:
          'Please contact our partner organization <a href="mailto:hostwriter@reporter-ohne-grenzen.de">Reporters without Borders</a>.'
      },
      headline: {
        level: "2",
        heading: "Contact us"
      }
    };
  }
};
</script>

<style scoped>
  .v-expansion-panel {
    box-shadow: none;
    border: 2px solid;
    border-color: rgba(0,0,0,0.42);
  }
  .theme--light.v-expansion-panel .v-expansion-panel__container,
  .theme--light.v-sheet {
    background-color: transparent;
  }
</style>
