<template>
  <v-container grid-list-xl>
    <section class="pt-3 pb-5">
      <AppHeading :level="headline.level" :heading="headline.heading" class="text__headline mb-4" />
    </section>

    <section>
      <h4 class="pb-3">Hostwriter is committed to protecting your personal data.</h4>
      <p>We’re complying with the <a href="https://www.eugdpr.org/" target="_blank">>EU Data Protection Regulation (GDPR)</a>, the world’s toughest privacy laws. Find below an overview of the data we hold, how we obtained it and what we’re doing with it. Please note: Applicants of the annual Hostwriter Prize need to be members of the network. In this way, we ensure that all personal data processed was obtained by explicit consent.</p>
      <h4 class="pb-3"><strong>What we hold:</strong></h4>
      <p>- All members of Hostwriter sign up with a profile that contains data about their journalistic background, including a profile picture, a short biography, or a link to work samples. Members who are also active in the HostWIRE chatroom share information and engage with other members of the network on journalistic topics.<br>
      - In addition, we store the date that a member initially joined Hostwriter and the day of the latest login.</p>
      <h4 class="pb-3"><strong>How we obtained this data:</strong></h4>
      <p>- All profile data is provided by our members. This allows every colleague to decide how many details of their journalistic background they would like to share with others within the network.<br>- The date of signup and latest login is stored automatically by <a href="https://www.drupal.org/home">Drupal</a>, the open-source Content Management Framework that Hostwriter is based on. &nbsp;</p>
      <h4 class="pb-3"><strong>Why the data was originally gathered:</strong></h4>
      <p>- Hostwriter’s mission is to help journalists to easily collaborate across borders. The profile data allows members to search for colleagues who match their research interests.<br>- For example, if a journalist looks for colleagues interested in a collaborative story on global climate change or migration, the data provided in the Hostwriter profile allows members to find the most qualified colleagues for a shared investigation. &nbsp;</p>
      <h4 class="pb-3"><strong>How long we will retain it:</strong></h4>
      <p>- We will retain the personal data as long as a colleague wishes to stay a member of Hostwriter.<br>- All members can terminate their membership anytime and delete all data that was previously stored. &nbsp;&nbsp; &nbsp;</p>
      <h4 class="pb-3"><strong>How secure it is, both in terms of encryption and accessibility:</strong></h4>
      <p>- Hostwriter does not use any Cloud-based services. All data is stored on servers from <a href="https://www.hosteurope.de/" target="_blank">>HostEurope</a>, a German hosting provider based in Cologne. &nbsp;<br>- Hostwriter uses SSL encryption to secure all communication between the servers and web browsers.<br>- While we’re committed to doing our best to ensure the online security of our members, we would like to expressly point out that the transmission of data via the Internet can still create security vulnerabilities.&nbsp;&nbsp; &nbsp;</p>
      <h4 class="pb-3"><strong>Sharing data with third parties, and on what basis we do so:</strong></h4>
      <p>- We guarantee in our <a href="https://hostwriter.org/terms-of-use">Terms of Use</a> that trading of any personal data is not part of Hostwriter’s business model, neither today, nor in the future. The use by third parties of all published contact details for the purpose of advertising is expressly prohibited.</p>
      <p>- Hostwriter uses <a href="https://matomo.org/" target="_blank">Matomo</a> (formerly Piwik), an open-source and data-friendly web analytics service. The information generated by Matomo about our members’ use of the website is stored by us, but does not contain any personal data. This means that we respect the privacy of our members and do not have access to any private messages that are sent among Hostwriter members via the Contact button.</p> 
      <p>- Hostwriter uses <a href="https://www.discourse.org/" target="_blank">Discourse</a>, an open-source forum software, to run its HostWIRE chatroom. All communication on HostWIRE as well as all activity information generated by discourse about our members’ use (e.g., Pageviews, User visits, etc.) is stored by us. All reports are anonymized, however all information that was openly shared on HostWIRE is visible to members and the Hostwriter team.</p>
      
      <p>- We use cookies to optimize our web presence that are deleted after you close the browser. Other cookies remain on your computer (long-term cookies) and permit recognition of it on your next visit. Members can prevent storage of cookies by choosing a “disable cookies” option in their browser settings.</p>
      <p>- Hostwriter uses a Social Plug-In by <a href="https://twitter.com/de/privacy">Twitter</a>. If members don’t want this social media service to map data collected about them via our website for their Twitter account, we recommend to log out before visiting Hostwriter. For sending our newsletter, Hostwriter uses the services of <a href="http://mailchimp.com/legal/privacy">MailChimp</a>. MailChimp will not use the data for any other purpose than sending the newsletter. You can unsubscribe at any time using this <a href="https://hostwriter.us7.list-manage.com/unsubscribe?u=dad8d3d28bde1b49c4471b447&amp;id=ce89e76f75">link</a>.</p>
      <p>&nbsp;</p>
    </section>
            
  </v-container>
</template>

<script>
import AppHeading from "~/components/AppHeading";

export default {
  auth: false,
  components: {
    AppHeading
  },
  head() {
    return {
      title: "Hostwriter | Data protection",
      meta: [
        { hid: 'description', name: "description", content: "Hostwriter is committed to protecting your personal data. We’re complying with the EU Data Protection Regulation (GDPR), the world’s toughest privacy laws." }
      ]
    }
  },
  data () {
    return {
      headline: {
        level: "2",
        heading: "Data protection"
      }
    }
  }
};
</script>