<template>
  <v-container grid-list-xl>
    <section class="pt-3 pb-5">
      <AppHeading level="2" heading="Imprint" class="text__headline mb-4" />
    </section>

    <section class="pb-5">
      <h4 class="pb-3">Hostwriter gUG (haftungsbeschränkt)</h4>
      <p>c/o Haus K166,<br> Karl-Marx-Str. 166, <br>12043 Berlin</p>
      <p>Company Register No.: HRB 16750, <br>
      Fiscal Authorities: Hamburg North (see our <a href="https://hostwriter.org/funding">founding documents</a>).&nbsp;</p>

      <h4 class="pt-5 pb-3">Bank account</h4>
      <p><strong>Account holder:</strong> Hostwriter gUG<br>
      <strong>IBAN:</strong> DE25430609672045978300<br>
      <strong>BIC: </strong>GENODEM1GLS<br>
      <strong>GLS Gemeinschaftsbank</strong></p>

      <h4 class="pt-5 pb-3">Visit us in our Berlin office:</h4>
      <p>c/o Haus K166,<br> Karl-Marx-Str. 166, <br>12043 Berlin</p>

      <h4 class="pt-5 pb-3"><strong>Hostwriter was founded in August 2013 by German journalists <br>Tamara Anthony, Tabea Grzeszyk and Sandra Maria Wild. </strong></h4>
      <p>CEO: Tabea Grzeszyk<br>
      Contact: +49 30 23544414<br>
      Mail: <a href="mailto:info@hostwriter.org">info@hostwriter.org</a></p>

      <h4 class="pt-5 pb-3">Supervisory board&nbsp;</h4>
      <p><strong>Chairwoman:</strong> Jutta Freifrau von Falkenhausen<br>
      <strong>Vice-Chairwoman</strong>: Maren Heltsche, Web developer<br>
      Tamara Anthony, Head of ARD-Studio Beijing, China<br>
      Eva-Maria McCormack, Head of Communications at the German Council on Foreign Relations (DGAP)<br>
      Simon Tennant, Production Engineering Manager at Soundcloud<br>
      Michael Weber, Financial Expert and Founder</p>

    </section>  
  </v-container>
</template>

<script>
import AppHeading from "~/components/AppHeading";

export default {
  auth: false,
  components: {
    AppHeading
  },
  head() {
    return {
      title: "Hostwriter | Imprint",
      meta: [
        { hid: 'description', name: "description", content: "Hostwriter was founded in August 2013 by German journalists Tamara Anthony, Tabea Grzeszyk and Sandra Maria Wild" }
      ]
    }
  },
  data () {
    return {
      headline: {
        level: "2",
        heading: "Imprint"
      },
      headline1: {
        level: "3",
        heading: "Data privacy statement"
      }
    }
  }
};
</script>