<template>
  <div class="wrapper">
    <AppHero></AppHero>
    <section class="banner-wrapper secondary">
      <v-container class="transparent white--text text-xs-center" :class="{ 'pa-5': $vuetify.breakpoint.mdAndUp }">
        <v-layout wrap>
          <v-flex xs12 md8 offset-md2>
            <p class="intro" :class="{ 'py-3':$vuetify.breakpoint.xs ,'px-5': $vuetify.breakpoint.mdAndUp }">
              Simply fill out the form below with your request to get started,
              our team will then connect you with nearly 5,000 vetted
              journalists from 150+ countries ready to collaborate.
              #CrossBorders!<br />
              <br />
              Questions? Contact
              <a
                class="white--text"
                href="mailto:wire@hostwriter.org"
                target="_blank"
                >wire@hostwriter.org</a
              >.
            </p>
          </v-flex>
        </v-layout>
      </v-container>
    </section>

    <section class="form pt-5 pb-5">
      <v-container grid-list-xl text-xs-center class="transparent">
        <v-layout wrap>
          <v-flex xs12 md8 offset-md2>
            <ContactForm type="feedback" />
          </v-flex>
        </v-layout>
      </v-container>
    </section>

    <!-- Carousel -->
    <section class="press-slider pt-3 pb-5 background">
      <v-container grid-list-xl class="text-xs-left background">
        <AppCarousel
          v-bind:carousel="carousel"
          v-bind:height="carouselHeight"
          v-bind:heightMobile="carouselHeightMobile"
        />
      </v-container>
    </section>

    <!-- Our partners -->
    <section class="partners pt-3 pb-5">
      <v-container grid-list-xl text-xs-center class="transparent">
        <AppHeading
          level="2"
          heading="Our partners"
          class="text-xs-center mb-5"
        />
        <AppLinkedLogos v-bind:logos="partners" v-bind:hover="true" />
      </v-container>
    </section>

    <!-- Faqs -->
    <section class="faqs pt-3 background">
      <v-container grid-list-xl text-xs-center class="background">
        <AppHeading
          level="2"
          heading="FAQs"
          class="text-xs-center mb-5"
        />
        <v-expansion-panel class="mb-5">
          <v-expansion-panel-content v-for="(item,i) in faqs" :key="i" >
            <div slot="header" class="pa-2"><h4>{{ item.question }}</h4></div>
            <v-card class="pr-3 pl-3"> 
              <v-card-text class="pb-5">
                <div v-html="item.answer"></div>
              </v-card-text>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-container>
    </section>

    <!-- Action box -->
    <section class="action-box pt-5">
      <v-container text-xs-center grid-list-xl class="transparent pb-0"
        ><v-layout>
          <v-flex xs12 md10 offset-md1 lg8 offset-lg2>
            <v-layout row wrap align-end>
              <v-flex xs12 md6 order-xs2 order-md1 class="pb-0">
                <div class="action-image pr-3">
                  <v-img
                    :max-width="
                      $vuetify.breakpoint.smAndDown ? '300px' : '350px'
                    "
                    :src="
                      require('@/assets/images/backgrounds/hostwriter-register-comp.png')
                    "
                  ></v-img>
                </div>
              </v-flex>
              <v-flex xs12 md6 order-xs1 order-md2>
                <AppHeading
                  level="2"
                  heading="Register for free"
                  class="text-xs-left white--text mb-4"
                />
                <p class="white--text text-xs-left"
                :class="{ 'px-5': $vuetify.breakpoint.mdAndUp }"
                >
                  Join the network as a journalist to get help quickly and make
                  contacts in areas and organizations you have no current links
                  to. Search Hostwriter to find colleagues to work with across
                  the world, with expertise you need and interests you share.
                </p>
                <v-btn
                  class="left ml-0 mb-5"
                  color="white"
                  href="https://hostwriter.org/user/register"
                  outline
                  >Join now</v-btn
                >
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-container>
    </section>
  </div>
</template>

<script>
import AppHeading from "~/components/AppHeading";
import AppHero from "~/components/AppHero";

export default {
  components: {
    AppHeading,
    AppHero,
    ContactForm: () => import("~/components/forms/ContactForm"),
    AppLinkedLogos: () => import("~/components/AppLinkedLogos"),
    AppCarousel: () => import("~/components/AppCarousel"),
  },
  head() {
    return {
      title: "Hostwriter for editors",
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            "Connect with trusted journalists from Hostwriters pool of 5000 vetted media professionals from 150+ countries, ready to fact-check, research and report."
        }
      ]
    };
  },
  data() {
    return {
      banner: {
        class: "banner secondary",
        text: "rum faucibus dolor auctor.",
      },
      carouselHeight: 550,
      carouselHeightMobile: 720,
      carousel: [
        {
          author: "Irene Casselli, First 1.000 Days correspondent, The Correspondent",
          src: require("~/assets/images/slider/irene.jpg"),
          text:
            "Through Hostwriter I managed to get in touch with a Danish translator overnight when I had to change the location of a documentary project I was working on. Whenever I have questions that go beyond my immediate regional reach, I use Hostwire to ask, or also to share possible collaborative work."
        },
        {
          author: "Lulu Ning Hui, head of international desk, the initium media",
          src: require("~/assets/images/slider/lulu.jpg"),
          text:
            "I think of Hostwriter whenever my newsroom seeks for a freelance journalist because I know its a great way to reach a hugely diverse group of international journalists with unique perspectives."
        },
        {
          author: "Mohammad Bassiki, Investigative Journalist, Founder of SIRAJ (Syrian Investigative Reporting for Accountability Journalism)",
          src: require("~/assets/images/slider/mohammad.jpg"),
          text: "The Journalism must go on! As a journalist covering the war zone, Syria, and living in exile, HW was an ideal place to build Journalism teams. I had my first cooperation with a colleague from China, we published a cross-border story in Arabic, English and Chinese from 3 continents. HW business model makes cooperation easier in times of border closure and spread of epidemics."
        }
      ],
      partners: [
        {
          link: "https://www.nextmedia-hamburg.de/",
          img: require("~/assets/images/partners/nextmedia.png"),
          hoverimg: require("~/assets/images/partners/nextmedia.png"),
        },
        {
          link: "https://ejc.net/",
          img: require("~/assets/images/partners/ejc.png"),
          hoverimg: require("~/assets/images/partners/ejc.png"),
        },
      ],
      faqs: [
        { 
          question: "What is Hostwriter?",
          answer: "Hostwriter is an online network that helps 5,000+ journalists in 154 countries to easily collaborate online. The network is free to join, but applicants are verified as journalists through our internal vetting process. On Hostwriter, journalists can connect for advice, collaboration or accomodation, and share opportunities and tips on our journalism message board, HostWIRE." 
        },
        {
          question: "How does COVID-19 Collaboration Wire work?",
          answer: "To use COVID-19 Collaboration Wire, editors and news publishers do not need to join Hostwriter. (Although, of course, they are very welcome to do so!) <br>To find journalists to commission, editors simply fill out the form provided at editors.hostwriter.org. They will need to indicate what kind of reporting or research they are looking for, in what country (if applicable) and how much they will pay for the commissioned work.<br>After they submit, they will get confirmation that their request was received. Within the next few days, they will receive contact from Hostwriter containing the top pitches for their request and the contact information for the vetted journalists. After Hostwriter’s “match-making” role is complete, the editors and journalists can take it from there." 
        },
        {
          question: "How much does using COVID-19 Collaboration Wire cost?",
          answer: "This tool is free to use, both for editors and journalists. To support quality journalism in times of travel restrictions due to the Coronavirus pandemic, Hostwriter has decided to enable editors to access its diverse network of local journalists around the globe. We only ask that editors pay journalists for their work." 
        },
        {
          question: "What kind of work can I commission?",
          answer: "You set the specifics, whether a multimedia, audio or video piece, fact-checking or reportage. Our members represent a broad spectrum of expertise, from environmental and science journalism, to investigative reporters and documentarians. We have award-winning international correspondents and hard-hitting local reporters. To get an idea of what kind of journalists are in our network, have a look at our Hostwriter <a target='_blank' href='https://ambassadors.hostwriter.org'>ambassadors</a>."
        }
      ]
    };
  },
};
</script>

<style scoped>
@media (min-width: 768px) {
  h1.primary--text {
    margin-top: 70px !important;
  }
}
p.primary--text {
  font-size: 26px;
  line-height: 38px;
}

.banner-wrapper {
  width: 100%;
}
.action-box {
  width: 100%;
  position: relative;
  background: var(--v-accent-base);
}
</style>
