<template>
  <v-container grid-list-xl>
    <section class="pt-3 pb-5">
      <AppHeading :level="headline.level" :heading="headline.heading" class="text__headline mb-4" />
    </section>

    <section class="pb-5">
      <h4 class="pb-3">Limitation of liability for internal content</h4>
      <p>The content of this website has been created with meticulous care. However, we cannot assume any liability for the up-to-dateness, completeness or contents’ accuracy of any of the webpages. Pursuant to the statutory provisions in section 7, para. 1 of the TMG (Telemediengesetz – Tele Media Act by German law), we as service providers are liable for our own content on these web pages in accordance with general laws.</p>
      <p>However, pursuant to sections 8 to 10 of the TMG, please note that we as service providers are not obliged to monitor external information transmitted or stored on our website. Once we have become aware of a specific infringement of the law, we will immediately remove the content in question. Any liability concerning this matter can only be assumed from the point in time at which the infringement becomes known to us.</p>
      <h4 class="pb-3">Limitation of liability for external links</h4>
      <p>Responsibility for the content of “external links” (web pages of third parties) lies solely with the operators of the linked pages. As the content of these websites is not under our control, we cannot assume any liability for such external content. In all cases, the provider of information of the linked websites is liable for the content and accuracy of the information provided.</p>
      <p>No violations were evident to us at the time of linking. Should any violation of law become known to us, we will immediately remove the link in question</p>
      <h4 class="pb-3">Limitation of liability for interactions</h4>
      <p>Our Services provide a platform for members and users to make use of a search function in order to communicate with one another, arrange stays or network with foreign country journalists as well as pass comments. Hostwriter is not a party to, has no involvement or interest in, makes no representations or warranties as to, and has no responsibility or liability with respect to any communications, transactions, interactions, disputes or any relations whatsoever between you and any other member or user. You are solely responsible for your interactions with other members or users of our Services.</p>
      <p>In case you become aware of inappropriate behavior of other users, e.g. infringement of Hostwriters’ <a href="https://hostwriter.org/code-of-ethics">Code of Ethics</a>, unfair or illegal actions, please contact the Hostwriter team immediately at team(at)hostwriter.org. Misconduct may cause the exclusion of the respective user from our platform and termination of membership.</p>
      <p>Via Hostwriters’ platform, our members have the opportunity to make available own content to other users. As host provider (pursuant to section 10 TMG) Hostwriter has no influence and does not assume any responsibility or liability for such contents, but reserves the right to remove or block such contents at its own discretion if it comes to the conclusion that such content infringes the rights of third parties or the applicable law or if the respective member is not authorized to make use of or make available such contents.</p>
      <p>Members acknowledge and consent that they are sole responsible for contents they made available and that they hold all rights required to make them available on Hostwriters’ platform. If you become aware of infringing or illegal contents please contact: privacy(at)hostwriter.org.</p>
      <h4 class="pb-3">Copyright</h4>
      <p>Our web pages and its content are subject to copyright law. Unless expressly permitted by law, every form of utilizing, reproducing or processing work is subject to copyright protection on our web pages and requires the prior consent of the author.</p>
      <h4 class="pb-3">Code of conduct / Interactions</h4>
      <p>As mentioned above you are solely responsible for your interactions with other members or users of our Services. In order to prevent malpractice we reserve the right, but have no obligation, to monitor and moderate interactions between you and other members or users of our Services. By accessing or using Hostwriter, you agree to act responsibly. In particular it means, you agree not to:</p>
      <h5>(a)</h5>
      <p>use Hostwriter in violation of any applicable law or regulation, including promoting or encouraging any illegal activity;</p>
      <h5>(b)</h5>
      <p>infringe the rights of any third party, including without limitation, intellectual property, privacy, publicity or contractual rights;</p>
      <h5>(c)</h5>
      <p>use Hostwriter in any manner that could interfere with, disrupt, negatively affect or inhibit other members from fully enjoying the Services or that could damage, disable, overburden or impair the functioning of the Services in any manner;</p>
      <h5>(d)</h5>
      <p>use Hostwriter in connection with the distribution of spam in the sense of § 7 Act Against Unfair Practices (UWG) or comparable foreign laws where applicable,</p>
      <h5>(e)</h5>
      <p>stalk, intimidate, threaten or otherwise harass or cause discomfort to any other member or user of our Services;</p>
      <h5>(f)</h5>
      <p>collect, store or utilize any information about any other member or user other than as permitted on our Services;</p>
      <h5>(g)</h5>
      <p>use Hostwriter for any commercial purpose as such with regard to journalistic practice (especially e.g. services provided for free in the field of accommodation )</p>
      <h5>(h)</h5>
      <p>register for more than one member account;</p>
      <h5>(i)</h5>
      <p>impersonate any person, or falsify or otherwise misrepresent yourself with any person, whether by providing or omitting to provide information;</p>
      <h5>(j)</h5>
      <p>circumvent or attempt to defeat any security or verification measure relating to use of the Services;</p>
      <h5>(k)</h5>
      <p>assist any third party in doing any of the foregoing.</p>
      <h5>(l)</h5>
      <p>misappropriate or obtain by using dishonest methods investigative or otherwise confidential information collected or otherwise received by other users;</p>
      <h5>(m)</h5>
      <p>misuse Hostwriter as hotel booking service or otherwise as a commercial provider of overnight accommodation, e.g. by misrepresenting as journalist to arrange hotel bookings.</p>
      <h4 class="pb-3">Termination</h4>
      <p>In case of the user’s breach of these terms or extended inactivity for more than 18 months, we may, at our discretion and without incurring any liability:</p>
      <h5>(a)</h5>
      <p>terminate your access to our Services,</p>
      <h5>(b)</h5>
      <p>deactivate or delete your account and all related information and files in such account and/or</p>
      <h5>(c)</h5>
      <p>bar your access to any of such files or Services. In any of these instances, you are not permitted to register for another Hostwriter account without our prior written permission.</p>
      <h4>Legal validity of this disclaimer</h4>
      <p>This disclaimer is to be regarded as part of the internet publication which you were referred from. If sections or individual terms of this statement are not in line with applicable law or incorrect, the content or validity of the other parts remain uninfluenced by this fact.</p>
    </section>

    <section>
      <AppHeading :level="headline1.level" :heading="headline1.heading" class="text__headline mb-4" />
      <p>A visit to our website can result in the storage of information about the access (date, time, page accessed) on our server. This does not represent any analysis of personal data (e.g., name, address, email address, research topic, kind of cooperation respectively help). If personal data are collected, this only occurs – to the extent possible – with the prior consent of the user of the website. Generally a disclosure of data to third parties shall not take place; at least not without the express consent of the user.</p>
      <p>We would like to expressly point out that the transmission of data via the Internet (e.g., by email) can create security vulnerabilities. It is therefore impossible to safeguard the data completely against access by third parties. We cannot assume any liability for damages arising as a result of such security vulnerabilities. The use by third parties of all published contact details for the purpose of advertising is expressly prohibited.</p>
      <p>We reserve the right to take legal steps in the case of the unsolicited sending of advertising information; e.g., by means of spam mail.</p>
      <h4 class="pb-3">§ 1 General</h4>
      <p>We emphasize the protection and security of your personal data and privacy. Your personal data (e.g. name, address, email address, research topic, kind of cooperation respectively help) are processed by us only in accordance with the provisions of German data privacy laws (BDSG) and the European General Data Protection Regulation (GDPR). The following provisions describe the type, scope and purpose of collecting, processing and utilizing personal data.</p>
      <p>This data privacy policy applies only to hostwriter.org, hostwriter.net and hostwriter.info. If links on our pages route you to other pages, please inquire there about how your data are handled in such cases.</p>
      <p>We guarantee that trading with personal data is not part of hostwriter’s business model, neither today nor in the future.</p>
      <h4 class="pb-3">§ 2 Inventory data</h4>
      <h5>(1)</h5>
      <p>Your personal data, insofar as these are necessary for this contractual relationship (inventory data) in terms of its establishment, organization of content and modifications, are used exclusively for fulfilling the purpose of the platform hostwriter. For the aspect of accommodation, for instance, your name and place of residence must be transmitted to the other user.</p>
      <h5>(2)</h5>
      <p>Without your explicit consent or statutory permission, your personal data are not passed on to third parties outside the scope of fulfilling the purpose of the platform. After resigning membership, your data are blocked against further use.</p>
      <p>After expiry of deadlines as per tax-related and commercial regulations, these data are deleted unless you have expressly consented to their further use.</p>
      <h4 class="pb-3">§ 3 Web analysis with Statify</h4>
      <p>This website doesn’t use Google Analytics. This website uses <a href="https://matomo.org/what-is-matomo/">Matomo</a> (formerly Piwik), an open and data-friendly web analytics service. The information generated by Matomo about your use of the website will be stored by us, but does not contain any personal data.</p>
      <p>We will make use of the information obtained to evaluate the use of our website and to compile reports on website activity.</p>
      <h4 class="pb-3">§ 4 Information about cookies</h4>
      <h5>(1)</h5>
      <p>To optimize our web presence, we use cookies. These are small text files stored in your computer’s main memory. These cookies are deleted after you close the browser. Other cookies remain on your computer (long-term cookies) and permit its recognition on your next visit. This allows us to improve your access to our site.</p>
      <h5>(2)</h5>
      <p>You can prevent storage of cookies by choosing a “disable cookies” option in your browser settings. But this can limit the functionality of our Internet offers as a result.</p>
      <h4 class="pb-3">§ 5 Social Plug-Ins</h4>
      <h4>Twitter</h4>
      <p>With Twitter and its Retweet functions, we use social plug-ins from Twitter.com, operated by Twitter Inc. 795 Folsom St., Suite 600, San Francisco, CA 94107. If you use Retweet, the websites visited by you are announced to third parties and associated with your Twitter account. Details about handling of your data by Twitter as well as your rights and setting options for protecting your personal information can be found in <a href="https://twitter.com/de/privacy">Twitter’s data privacy policy</a>.</p>
      <h4 class="pb-3">§ 6 Newsletter</h4>
      <p>Following subscription to the newsletter, your email address is used for our own advertising purposes until you cancel the newsletter again. Cancellation is possible at any time. We use the services of <a href="http://www.mailchimp.com">MailChimp</a> for sending our newsletter. By signing up for the newsletter, you agree that we may pass on your email address to MailChimp. MailChimp will not use your data for any other purpose than sending the newsletter (see <a href="http://mailchimp.com/legal/privacy">MailChimp's data privacy poliy</a>.)</p>
      <p>The following consent has been expressly granted by you separately, or possibly in the course of an ordering process: Sign up for the newsletter!<br>You may revoke your consent at any time with future effect. If you no longer want to receive the newsletter, please use <a href="https://hostwriter.us7.list-manage.com/unsubscribe?u=dad8d3d28bde1b49c4471b447&amp;id=ce89e76f75">this link to unsubscribe</a>.</p>
      <h4 class="pb-3">§ 7 Information, Correction, Deletion and Blocking</h4>
      <p>With regards to the European General Data Protection Regulation (GDPR), you have the right to receive information about the Data stored about you at any time, as well as a right to correction, deletion and/or blocking of your data. You may direct your inquiries to: privacy(at)hostwriter.org</p>
      <h4 class="pb-3">§ 8 Disclosure</h4>
      <p>According to the European General Data Protection Regulation (GDPR), you have a right to free-of-charge information about your stored data, and possibly entitlement to correction, blocking or deletion of such data. Inquiries can be directed to privacy(at)hostwriter.org.</p>
    </section> 
  </v-container>
</template>

<script>
import AppHeading from "~/components/AppHeading";

export default {
  auth: false,
  components: {
    AppHeading
  },
  head() {
    return {
      title: "Hostwriter | Terms of use",
      meta: [
        { hid: 'description', name: "description", content: "by the use of our website, you agree on our terms of use." }
      ]
    }
  },
  data () {
    return {
      headline: {
        level: "2",
        heading: "Terms Of Use"
      },
      headline1: {
        level: "3",
        heading: "Data privacy statement"
      }
    }
  }
};
</script>