<template>
  <v-layout row>
    <v-flex xs12 sm8 offset-sm1>
      <ul class="pl-0">
        <li v-for="item in ethics" :key="item.id" class="pa-3">
          <v-layout row wrap>
            <v-flex xs12 sm3 offset-sm1>
              <v-img :src="item.icon" max-width="90px" max-height="120px" contain aspect-ratio="1.4"></v-img>
            </v-flex>
            <v-flex xs10 sm8>
              <p xs8 offset-xs1 align-self-center class="intro gray pt-5" v-html="item.text"></p>
            </v-flex>
          </v-layout>
        </li>
      </ul>
    </v-flex>
  </v-layout>
</template>

<script>
import AppHeading from "~/components/AppHeading.vue";

export default {
  components: {
    AppHeading
  },
  data () {
    return {
      ethics: [
          {
            icon: require("~/assets/images/icons/nr-1.svg"),
            text: "Giving advice does not mean revealing sensitive sources."
          },
          {
            icon: require("~/assets/images/icons/nr-2.svg"),
            text: "Engaging in research is not an invitation to steal someone's story."
          },
          {
            icon: require("~/assets/images/icons/nr-3.svg"),
            text: "Sleeping at a colleague's is no free hotel room."
          },
          {
            icon: require("~/assets/images/icons/nr-4.svg"),
            text: "Always make sure that the terms of collaboration are clear."
          },
          {
            icon: require("~/assets/images/icons/nr-5.svg"),
            text: 'By becoming a member of Hostwriter you agree to <a href="/code-of-ethics" target="_blank">our code of ethics</a>.'
          }
       ]
    }
  }
};
</script>


<style scoped>

ul > li {
  list-style: none;
}



</style>