<template>
  <v-layout row wrap justify-center :class="{'xs': $vuetify.breakpoint.xs, 'sm': $vuetify.breakpoint.sm , 'md': $vuetify.breakpoint.md}">
    <v-flex :class="feature.class" v-for="feature in features" :key="feature.id" xs12 :sm6="noDashboard" md4>
      <v-card flat class="pt-5" height="100%" min-height="110px" color="transparent" :to="feature.link" :href="feature.href" :target="feature.target">
        <v-layout align-center column>
          <v-img :src="feature.img" width="160px" class="float-center mt-2"></v-img>
          <v-card-title class="justify-center">
            <AppHeading :level="feature.headline.level" :heading="feature.headline.heading" class="text__headline" />
          </v-card-title>
          <v-card-text  class="text-xs-center">
            <p :class="{'hidden-sm-and-down': !noDashboard}">{{ feature.text }}</p>
          </v-card-text>
        </v-layout>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import AppHeading from "~/components/AppHeading.vue";

export default {
  components: {
    AppHeading
  },
  props: {
    features: {
      type: Array,
      required: true
    },
    layout: {
      type: String,
      required: false
    }
  },
  data() {
    return {
      noDashboard: this.layout != "dashboard"
    }
  }
};
</script>

<style scoped>
  .v-image.funding {
    max-width: 120px !important;
  }
  .v-image.collaborations {
    max-width: 108px !important;
  }
  .v-image.knowledge {
    max-width: 77px !important;
  }
  .dashboard .v-card {
    box-shadow: 10px 20px 30px 0 rgba(26, 26, 46, 0.1)!important;
  }
  .dashboard  p {
    color: var(--v-info-base);
  }
  .dashboard  h3 {
    text-decoration: underline;
    text-decoration-color:var(--v-secondary-base);
    text-underline-position: under;
  }
  .dashboard .xs .column,
  .dashboard .sm .column {
    flex-direction: inherit;
  }
  .dashboard .md .column {
    flex-direction: column;
  }
  .dashboard .v-card__title {
    padding: 10px;
  }

  .dashboard .xs .v-image,
  .dashboard .sm .v-image {
    width: 100px !important;
    margin-left: 32px;
    margin-bottom: 8px;
  }
  .dashboard .xs .text__headline,
  .dashboard .md .text__headline {
    font-size: 24px;
  }
  .dashboard .xs .v-card,
  .dashboard .sm .v-card  {
    padding-top: 0 !important;
  }
</style>
