<template>
  <div>
    <template v-for="feature in features6040">
      <v-layout
        text-xs-left
        :key="feature.id"
        :reverse="feature.odd"
        row
        wrap
        mb-4
      >
        <v-flex xs12 md7>
          <v-container pa-0>
            <h3 class="mb-3">{{ feature.headline }}</h3>
            <v-layout row wrap justify-center>
              <v-flex xs12 md7>
                <p class="highlight pr-3">{{ feature.text }}</p>
              </v-flex>
              <v-flex xs12 md5>
                <ul class="gray list--checkmark ml-3 pl-3">
                  <li v-for="check in feature.checks" :key="check.id">
                    {{ check.text }}
                  </li>
                </ul>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
        <v-flex xs12 md5>
          <v-img class="image" :src="feature.img" />
        </v-flex>
      </v-layout>
    </template>
  </div>
</template>

<script>
import AppHeading from "~/components/AppHeading.vue";

export default {
  components: {
    AppHeading
  },
  data() {
    return {
      features6040: [
        {
          odd: false,
          img: require("assets/images/backgrounds/advice-profile-cards-comp.png"),
          headline: "Get and give advice",
          text:
            "Use the Hostwriter network to find and share advice on topics of interest with journalists all over the world.",
          checks: [
            { text: "Ask for advice from local reporters" },
            { text: "Build and broaden your network" }
          ]
        },
        {
          odd: true,
          img: require("assets/images/backgrounds/collaboration-hostwire-comp.png"),
          headline: "Start collaborating",
          text:
            "Search Hostwriter to find colleagues to work with - whether they are in your hometown or on the other side of the planet. Use our HostWIRE chatroom to find opportunities for collaboration.",
          checks: [
            { text: "Find journalists who share your interest" },
            { text: "Collaborate on cross-border projects" }
          ]
        },
        {
          odd: false,
          img: require("assets/images/backgrounds/accomodation-map-search-comp.png"),
          headline: "Find accommodations",
          text:
            "Over half of the members also offer their couch. Stay with a Hostwriter for your next research trip or journalism conference.",
          checks: [
            { text: "Get a free couch to stay on" },
            { text: "Make new journalist friends in foreign countries" }
          ]
        }
      ]
    };
  }
};
</script>

<style scoped>
.image {
  max-width: 100%;
}
.list--checkmark {
  display: block;
}
</style>
