<template>
  <div v-if="groupData.length > 0">
    <v-layout row wrap>
      <v-flex class="pb-0">
        <p class="small gray mb-0">My groups</p>
      </v-flex>
      <v-flex row v-for="group in groups" :key="group.target_uuid" xs12>
        <v-card :href="groupHref(group.target_uuid)" target="_blank" flat class="pt-3 pl-3">
          <v-layout>
            <v-card-text class="pt-0 pb-0">
                <v-flex>
                  <v-avatar v-if="groupLogo(group.target_uuid)" size="60px" class="avatar pr-4">
                    <v-img width="60px" height="60px" :src="groupLogo(group.target_uuid)" cover/>
                  </v-avatar>
                  <div class="group-info pb-1">
                    <h4>{{groupName(group.target_uuid)}}</h4>
                    <p class="small gray">{{hostwireGroupId(group.target_uuid)}}</p>
                  </div>
                  <v-icon class="arrow" color="secondary">mdi-arrow-right</v-icon>
                </v-flex>
            </v-card-text>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
  import _ from "lodash";

  export default {
    props: {
      groups: {
        type: Array,
        required: false
      }
    },
    data() {
      return {
        groupData: {},
        groupLogos: {},
        baseUrl: process.env.baseUrl
      };
    },
    methods: {
      groupLogo(groupUuid) {
        let group = this.getGroup(groupUuid);
        let imageUuid = group[0].relationships.field_partner_logo.data.id;
        let imageSrc = this.getLogo(imageUuid);
        return imageSrc;
      },
      groupName(groupUuid) {
        let group = this.getGroup(groupUuid);
        return group[0].attributes.name;
      },
      groupHref(groupUuid) {
        let group = this.getGroup(groupUuid);
        return process.env.HOSTWIRE_URL + '/g/' + group[0].attributes.field_hostwire_group_id;
      },
      hostwireGroupId(groupUuid) {
        let group = this.getGroup(groupUuid);
        return group[0].attributes.field_hostwire_group_id;
      },
      getGroup(groupUuid) {
        return this.groupData.filter(el => {
          return el.id === groupUuid;
        });
      },
      getLogo(logoUuid) {
        let image = this.groupLogos.filter(el => {
          return el.id === logoUuid;
        });
        return process.env.baseUrl + image[0].attributes.uri.url;
      },
      getGroupDataRaw() {
        const url = process.env.baseUrl + "/jsonapi/taxonomy_term/partners?include=field_partner_logo";
        this.$axios
          .$get(url)
          .then(result => {
            this.groupData = result.data;
            this.groupLogos = result.included;
          })
          .catch(e => {
            console.log(e);
          });
      }
    },
    created() {
      this.getGroupDataRaw();
    }
  };
</script>

<style scoped>
  .v-card {
    border: 1px solid #e0e2e7;
    border-radius: 3px;
    width: 100%;
    position: relative;
  }
  .avatar {
    float: left;
  }
  .arrow {
    position: absolute;
    right: 20px;
    top: 40%;
  }
  .group-info {
    min-height: 60px;
    margin-left: 60px;
  }
</style>
