<template>
  <v-layout row wrap v-if="latestTopics.length > 0" class="text-xs-left">
    <v-flex class="pb-0" xs12>
      <p class="small gray mb-0">Latest topics on HostWIRE</p>
    </v-flex>
    <v-flex xs12>
      <v-card flat>
        <div v-for="topic in latestTopics" :key="topic.id" flat class="post pa-3">
          <div class="post__title pb-1">
            <a :href="getPostSlug(topic.id, topic.slug)" target="_blank" class="post__link">
              <h5 class="post__title">{{ topic.title }}</h5>
            </a>
          </div>
          <div class="category">
            <a :href="getCategorySlug(topic.category.id, topic.category.slug)" target="_blank" class="category__link">
              <span :style="{'color' : getCategoryColor(topic.category.color)}"># {{ topic.category.name }} </span>
            </a>
          </div>
        </div>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data() {
    return {
      loaded: false,
      latestTopics: {},
    };
  },
  methods: {
    getLatestTopics() {
      this.$axios
        .get(process.env.HOSTWRITER_API_BASEURL + "/hostwire_sync/get_posts", { headers: { Authorization: null } })
        .then(res => {
          this.latestTopics = res.data;
          this.$emit("loaded", true);
        })
        .catch(err => {
          this.latestTopics = null;
          this.$emit("loaded", false);
        });
    },
    getPostSlug(id, slug) {
      return process.env.HOSTWIRE_URL + '/t/' + slug + '/' + id;
    },
    getCategorySlug(cid, slug) {
      return process.env.HOSTWIRE_URL + '/c/' + slug + '/' + cid;
    },
    getCategoryColor(color) {
      return "#" + color
    }
  },
  mounted() {
    this.getLatestTopics();
  }
};
</script>

<style scoped>
  .post__title,
  .post__link {
    color: var(--v-primary-base)!important;
  }
  .v-card {
    border: 1px solid #e0e2e7;
    border-radius: 3px;
    width: 100%;
    position: relative;
  }
</style>
