<template>
  <v-layout row wrap class="text-xs-left" justify-center>
    <v-flex v-for="post in blogPosts" :key="post.id" xs12 sm6 md4>
      <v-card flat hover height="100%" value="0" class="background">
        <v-img :src="getThumbnail(post)" height="200px"></v-img>
        <v-card-title primary-title>
          <h4 v-html="post.title.rendered" class="pb-3"></h4>
          <div class="excerpt pb-5" v-html="post.excerpt.rendered"></div>
        </v-card-title>
      </v-card>
    </v-flex>
  </v-layout>
</template>


<script>
  export default {
    data() {
      return {
        loaded: false,
        blogPosts: {}
      }
    },
    methods: {
      getThumbnail(post) {
        if (post._embedded["wp:featuredmedia"][0].media_details.sizes["post-thumbnail"]) {
          return post._embedded["wp:featuredmedia"][0].media_details.sizes[
            "post-thumbnail"
          ].source_url;
        }
        else {
          return post._embedded["wp:featuredmedia"][0].media_details.sizes[
            "thumbnail"
          ].source_url;
        }
      },
      getBlogposts() {
        this.$axios.get(process.env.HOSTWRITER_BLOG_URL + "/wp-json/wp/v2/posts?_embed=true&per_page=3")
        .then(res => {
          this.blogPosts = res.data;
          this.$emit("loaded", true);
        })
        .catch(err => {
          this.blogPosts = null;
          this.$emit("loaded", false);
        });
      }
    },
    created() {
      this.getBlogposts();
    }
  };
</script>

<style scoped>
  .background {
    position: relative;
  }
  .excerpt a.more-link {
    display: block;
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
</style>