<template>
  <v-container grid-list-xl class="text-xs-center text-md-left numbers-background">
    <v-layout wrap align-center>
      <v-flex xs12 md10>
        <h3 class="white--text pb-1">
          {{ journalists }} journalists from {{ countries }} countries worldwide
        </h3>
      </v-flex>
      <v-flex xs12 md2 text-xs-center text-md-right>
        <v-btn v-if="this.$auth.$state.loggedIn" outline depressed color="white" to="/search">Search</v-btn>
        <v-btn v-else outline depressed color="white" to="/user/register">Join now</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>
  export default {
    data() {
      return {
        journalists: "",
        countries: ""
      }
    },
    methods: {
      getNumbers() {
        this.$axios.get(process.env.baseUrl + "/hostwriter/journalists/count", { headers: { Authorization: null } })
        .then((res) => {
          this.journalists = res.data.journalists,
          this.countries = res.data.countries
        }).catch((err) => {
          data.journalists = "Thousands of",
          data.countries = "over 100"
        });
      }
    },
    mounted() {
      this.getNumbers();
    }
  };
</script>

<style scoped>
.numbers-background {
  background: transparent;
}
</style>
