<template>
  <v-layout wrap>
    <v-flex
      xs12
      md6
      v-for="project in projects"
      :key="project.id"
      class="project-item"
    >
      <v-card flat height="100%">
        <v-layout>
          <v-flex md4 v-show="$vuetify.breakpoint.smAndUp">
            <v-img
              contain
              position="top"
              :src="project.img"
              width="110px"
              height="100%"
              max-height="140px"
              max-width="100%"
              class="mt-2"
              :class="{'ml-3 ': $vuetify.breakpoint.lgAndUp}"
            ></v-img>
          </v-flex>
          <v-flex md8>
            <v-card-title class="px-0 pt-0" primary-title>
              <AppHeading
                level="3"
                :heading="project.name"
                class="text__headline mb-3"
              />
              <p class="intro gray pb-5">{{ project.text }}</p>
            </v-card-title>
            <v-card-actions class="px-0">
              <v-btn
                depressed
                color="accent"
                :bottom="true"
                :absolute="true"
                :href="project.link"
                class="btn--absolute"
                >Learn more</v-btn
              >
            </v-card-actions>
          </v-flex>
        </v-layout>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import AppHeading from "~/components/AppHeading";

export default {
  components: {
    AppHeading
  },
  data() {
    return {
      projects: [
        {
          name: "Trainings & Workshops",
          text:
            "Hostwriter provides trainings and workshops on the method and mindset of cross-border journalism.",
          link:
            "https://blog.hostwriter.org/the-future-of-journalism-is-collaborative-get-the-latest-training/",
          img: require("~/assets/images/icons/projects-coauthor.svg")
        },
        {
          name: "Unbias the News",
          text:
            "Hostwriter aims to counter unconscious bias and the lack of diversity in today’s journalism to enable collaborations at eye level.",
          link: "https://unbiasthenews.org",
          img: require("~/assets/images/icons/projects-book.svg")
        },
        {
          name: "The Hostwriter Prize",
          text:
            "The Hostwriter Prize is awarded annually to collaborative journalism pieces, as well as promising story pitches submitted by our members.",
          link: "https://prize.hostwriter.org",
          img: require("~/assets/images/icons/projects-prize.svg")
        },
        {
          name: "Agora Global",
          text:
            "This project brings cross-border theory into practice by training regional journalists and supporting them to create stories that matter.",
          link: "https://agora.hostwriter.org",
          img: require("~/assets/images/icons/projects-collaboration.svg")
        }
      ]
    };
  }
};
</script>

<style scoped>
/* .project-item {
    display: flex;
  } */
.btn--absolute {
  bottom: 16px;
}
.btn--absolute:hover:before {
  background-color: transparent;
}
/* .v-card__title {
   padding: 30px 20px 20px 28px;
  } */
/* .v-card__actions {
    padding: 8px 8px 16px 20px;
  } */
</style>
