<template>
  <div
    :class="{
      'py-4': $vuetify.breakpoint.smAndDown,
      'pa-4': $vuetify.breakpoint.mdAndUp
    }">
    <v-card flat light color="grey lighten-4 mb-5">
      <v-card-title primary-title class="pb-0">
        <div>
          <h4 class="serif pb-3">New here?</h4>
          <p class="gray">To create an account you will need a</p>
        </div>
      </v-card-title>
      <v-card-text class="pt-0">
        <div class="pb-2">
          <v-icon color="primary" class="pr-2">mdi-at</v-icon>
          <span>email address that you access regularly</span>
        </div>
        <div class="pb-2">
          <v-icon color="primary" class="pr-2">mdi-earth</v-icon>
          <span>location (country, city)</span>
        </div>
        <div class="pb-2">
          <v-icon color="primary" class="pr-2">mdi-file</v-icon>
          <span>link or pdf to a journalistic work sample</span>
        </div>
        <v-btn to="/user/register" color="secondary" depressed class="mx-0">Start now</v-btn>
      </v-card-text>
    </v-card>
  </div>
</template>

<style scoped>
.v-icon {
  position: absolute!important; 
}
.v-icon + span {
  padding-left: 35px;
  display: block;
}
</style>