<template>
    <Timeline
      :id="twitterId"
      :sourceType="'profile'"
      :options="{ 
        tweetLimit: limit,
        cards: 'hidden',
        width: '600',
        hide_media: true,
        linkColor: '#fe5621'
      }"
    >
      <div class="spinner"></div>
    </Timeline>
</template>


<script>
  import { Timeline } from "vue-tweet-embed";

  export default {
    components: {
      Timeline
    },
    props: {
      twitterId: {
        type: String,
        required: true
      },
      limit: {
        type: Number,
        required: true
      }
    },
    mounted() {
    }
  };
</script>

<style>
  .isRetweet {
    display: none;
  }
</style>