<template>
  <v-form
    @submit.prevent="submit"
    v-model="valid"
    class="text-xs-left pb-5"
    ref="form"
  >
    <v-dialog v-model="dialog">
      <v-card color="primary" dark>
        <v-card-text v-if="isSending && !error">
          Sending your request ...
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
        <v-card-text v-else>
          Thank you for submitting to editors.hostwriter.org. Our team is now
          reviewing your request and searching our worldwide journalism network
          for the best matches. We will get back to you as soon as possible with
          the top pitches. <br /><br />
          If you have any questions,<br />
          please reach out to Tina Lee:
          <a class="secondary--text" href="mailto:tina@hostwriter.org"
            >tina@hostwriter.org</a
          >.<br /><br />
          All best, <br />The Hostwriter Team<br />
        </v-card-text>
      </v-card>
    </v-dialog>

    <div v-if="error" class="pb-4">
      <v-alert :value="true" type="error" dark>
        Sorry, something went wrong sending your Mail. Please try again later.
      </v-alert>
    </div>
    <AppHeading level="3" heading="My contact info" class="mb-4 text-xs-left" />
    <div class="pb-5">
      <v-text-field
        v-model="sender.name"
        label="Full name"
        class="required"
        :rules="[(v) => !!v || 'Name is required']"
      ></v-text-field>
      <v-text-field
        v-model="sender.media"
        label="Media outlet/publisher"
        class="required"
        :rules="[(v) => !!v || 'Media outlet/publisher is required']"
      ></v-text-field>
      <v-text-field
        v-model="sender.email"
        class="required"
        label="Email"
        :rules="[(v) => !!v || 'Email is required']"
      ></v-text-field>
      <v-text-field v-model="sender.phone" label="Mobile phone"></v-text-field>
    </div>

    <AppHeading
      level="3"
      heading="I'm looking for a journalist in"
      class="mb-4 text-xs-left heading__required"
    />
    <div class="pb-5">
      <v-text-field
        v-model="sender.country"
        label='Please state a specific country or add "worldwide"'
      ></v-text-field>
      <v-select
        v-model="sender.request"
        :items="items"
        label="My request is about"
        class="required"
        :rules="[(v) => !!v || 'This field is required']"
      ></v-select>
    </div>

    <AppHeading
      level="3"
      heading="Send me pitches on the following"
      class="mb-4 text-xs-left"
    />
    <div class="pb-5">
      <v-text-field
        v-model="sender.topic"
        label="Topic"
        class="required"
        :rules="[(v) => !!v || 'Topic is required']"
        hint="Please provide a working title, eg. COVID-19"
        persistent-hint
      ></v-text-field>
      <v-select
        v-model="sender.format"
        :items="format"
        label="Format"
        class="required"
        :rules="[(v) => !!v || 'Format is required']"
      ></v-select>
      <v-text-field
        v-model="sender.payment"
        label="Payment"
        class="required"
        :rules="[(v) => !!v || 'Payment is required']"
        hint="Please provide a fee or daily rate"
        persistent-hint
      ></v-text-field>
      <v-text-field
        v-model="sender.duedate"
        label="Due date"
        hint="If applicable"
        persistent-hint
      ></v-text-field>
    </div>

    <AppHeading level="3" heading="Comments" class="mb-4 text-xs-left" />
    <v-textarea
      v-model="sender.text"
      label="What else should journalists know about the request?"
      background-color="#FFF"
      rows="8"
    ></v-textarea>

    <HoneyPot @changePot="onPotChanged"></HoneyPot>
    <v-btn
      type="submit"
      class="ml-0 mb-3"
      color="secondary"
      :disabled="!valid"
      :loading="isSending"
      @click.stop="dialog = true"
      depressed
      block
      >Send</v-btn
    >
    <p class="caption gray">
      Disclaimer: Hostwriter guarantees to keep all collaboration requests
      confidential and will only share it with registered members of its
      journalism network of 5,000 colleagues in 150+ countries. Digital security
      is our priority, however, we kindly ask you to not share any sensitive
      information online to be on the safe side.
    </p>
  </v-form>
</template>

<script>
import AppHeading from "~/components/AppHeading";
import HoneyPot from "~/components/forms/HoneyPot";

export default {
  auth: true,
  components: {
    AppHeading,
    HoneyPot,
  },
  props: {
    type: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      dialog: false,
      formType: this.type,
      isSending: false,
      mailSent: false,
      valid: false,
      error: false,
      recipient: false,
      pot: null,
      sender: {
        name: "",
        email: "",
        phone: "",
        media: "",
        country: "",
        text: "",
        request: "",
        topic: "",
        format: "",
        payment: "",
        duedate: "",
      },
      items: [
        "local fact-checking ",
        "journalism piece (text, audio, television or multimedia)",
        "contribution to a collaborative story",
      ],
      format: ["text", "audio", "television", "multimedia"],
      nameRules: [(v) => !!v || "First Name is required"],
      emailRules: [(v) => /.+@.+/.test(v) || "Email must be valid"],
      textRules: [(v) => !!v || "This field is required"],
      required: [(v) => !!v || "This field is required"],
    };
  },
  methods: {
    onPotChanged(val) {
      this.pot = val;
    },
    submit() {
      if (this.pot) return;
      let url = process.env.baseUrl + "/hostwire_sync/add_post";
      this.isSending = true;

      this.$axios
        .post(url, this.sender, {
          headers: {
            "Content-Type": "application/json",
          },
        })
        .then((response) => {
          this.isSending = false;
          this.mailSent = true;
          this.$refs.form.reset();
        })
        .catch((e) => {
          console.log("Failed" + e);
          this.isSending = false;
          this.mailSent = false;
          this.error = true;
        });
    },
  },
  mounted() {},
};
</script>

<style>
.heading__required::after,
.v-text-field.required .v-label::after {
  content: "*";
  display: inline;
  color: var(--v-secondary-base);
}
.v-messages__message {
  color: var(--v-info-base);
}
</style>
