<template>
  <div class="pa-3 background">
    <v-text-field
      label="Work Sample"
      v-model="file.name"
      prepend-icon="mdi-attachment"
      @click="openFileExplorer()"
      clear-icon="mdi-close-circle"
      clearable
      :loading="isActive"
      hint="In case you don't have a work sample online, you can use this field."
    >
      <v-progress-linear class="ma-0" :indeterminate="true" height="2"/>
    </v-text-field>
    <input
      ref="fileInput"
      accept="application/pdf"
      type="file"
      name="fileInputImport"
      @change="selectFile"
    >
    <v-text-field
      v-if="file.name"
      v-model="file.description"
      @change="updateDescription"
      label="Description"
      hint="The description will be used as the label of the link to the file."
    ></v-text-field>

    <v-btn v-if="!file.name" color="secondary" @click.stop="openFileExplorer()">Choose Work Sample</v-btn>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        file: {
          name: "",
          url: "",
          file: "",
          fid: "",
          description: ""
        },
        value: "",
        custom: true,
        saving: false,
        saved: false,
        isActive: false
      };
    },
    methods: {
      updateDescription() {
        this.$emit("fileSaved", this.file.fid, this.file.description);
      },
      initWorksamplesPdf() {
        let workSamplesPdf = this.$auth.user.field_user_worksample_pdf;
        if (workSamplesPdf.length > 0 && workSamplesPdf[0].url) {
          let url = workSamplesPdf[0].url;
          this.file.name = url.split("/").pop();
          this.file.description = workSamplesPdf[0].description;
        }
      },
      openFileExplorer() {
        this.$refs.fileInput.click();
      },
      selectFile(e) {
        let file = e.target.files[0];

        if (file) {
          this.file.name = file.name;
          this.file.file = file; // this is the pdf file that can be sent to server...

          const fr = new FileReader();
          fr.readAsDataURL(file);
          fr.addEventListener("load", () => {
            this.file.url = fr.result;
          });
          this.isActive = true;
          this.uploadFile();
        } else {
          this.file.url = "";
          this.file.name = "";
          this.file.file = "";
        }
      },
      uploadFile() {
        // try: 
        //let url = process.env.baseUrl + "/file/upload/user/user/field_user_worksample_pdf?_format=json";
        let url = process.env.baseUrl + '/jsonapi/user/user/' + this.$auth.user.uuid[0].value + '/field_user_worksample_pdf';
        let contentDisposition = 'file; filename="' + this.file.name + '"';
        this.$axios.defaults.withCredentials = true;
        this.$axios
          .post(url, this.file.file, {
            headers: {
              "Content-Type": "application/octet-stream",
              "X-CSRF-Token": this.$auth.$storage.getUniversal("csfr_token"),
              "Content-Disposition": contentDisposition
            }
          })
          .then(response => {
            this.file.fid = response.data.data.attributes.drupal_internal__fid;
            this.saved = true;
            // emit and sava description on user save later
            this.$emit("fileSaved", this.file.fid, this.file.description);
            this.isActive = false;
          })
          .catch(e => {
            this.isActive = false;
            //FIXME: add error handling;
          });

      }
    },
    mounted() {
      this.initWorksamplesPdf();
    }
  };
</script>

<style scoped>
  [type="file"] {
    display: none;
  }
</style>