<template>
  <div id="pot" class="form__item">
    <label class="form__label" for="mail">EMail</label>
    <input id="mail" v-model="pot" name="mail" class="form__input-text" type="text" />
  </div>
</template>

<script>
export default {
  name: "Honeypot",
  data() {
    return { pot: null };
  },
  watch: {
    pot() {
      // Emit Event to Parent Component.
      this.$emit("changePot", this.pot);
    }
  }
};
</script>

<style scoped>
.form__item {
  display: none;
}
</style>
