<template>
  <div :class="{
      'py-4': $vuetify.breakpoint.smAndDown,
      'pa-4': $vuetify.breakpoint.mdAndUp
    }">
    <h4 class="serif pt-4">Sign in</h4>
    <v-alert :value="error" type="error" v-if="error" color="error" class="mb-3 mr-4">{{ error }}</v-alert>
    <div v-if="loading" class="text-xs-center">
      <v-progress-circular indeterminate color="primary"></v-progress-circular>
    </div>

    <v-form v-model="valid" ref="form" v-if="!loading">
      <v-text-field class="gray" v-model="email" :rules="emailRules" label="Email" required></v-text-field>
      <v-text-field
        v-model="password"
        :rules="passwordRules"
        label="Password"
        required
        :append-icon="show ? 'mdi-eye-off' : 'mdi-eye'"
        :type="show ? 'text' : 'password'"
        @click:append="show = !show"
      ></v-text-field>
      <v-btn @click="submitLogin" class="ml-0" color="secondary" depressed :disabled="!valid">Log in</v-btn>
      <input class="hidden" @keyup.enter="submitLogin" />
      <nuxt-link
        to="/user/password"
        color="accent"
        class="forgot-password text-xs-right pt-3 right"
      >Forgot password?</nuxt-link>
    </v-form>
  </div>
</template>


<script>
  import AppHeading from "~/components/AppHeading.vue";

  export default {
    auth: false,
    components: {
      AppHeading
    },
    data() {
      return {
        error: null,
        show: false,
        credentials: {
          username: "",
          password: ""
        },
        headline: {
          level: "2",
          heading: "Sign in or create new account"
        },
        loading: false,
        valid: false,
        password: "",
        passwordRules: [
          v => !!v || "Please enter password here",
          //v => v.length >= 8 || 'Min 8 characters'
        ],
        email: "",
        emailRules: [
          v => !!v || "Email is required",
          v => /.+@.+/.test(v) || "Email must be valid"
        ]
      };
    },
    mounted() {
      if (this.$route.path == "/user/login" && this.$auth.loggedIn === true) {
        this.$router.push("/user/" + this.$auth.user.uid[0].value + "/dashboard");
      }
    },
    methods: {
      async submitLogin() {
        if (this.$matomo) {
          this.$matomo.trackEvent('User login Button', 'click on login button', 'user-login');
        }
        this.loading = true;
        await this.$auth
          .loginWith("drupal", {
            data: {
              name: this.email.trim(),
              pass: this.password
            }
          })
          .then(() => {
            this.error = null;
            this.$router.push(
              "/user/" + this.$auth.user.uid[0].value + "/dashboard"
            );
          })
          .catch(e => {
            this.loading = false;
            if (this.$auth.error.response) {
              this.error = this.$auth.error.response.data.message;
              console.log(e);
              console.log(this.$auth.error.response);
            } else
              this.error =
                "There are problems logging you in. Please try again later.";
            this.$auth.$storage.setUniversal("userId", null, false);
            this.$auth.$storage.setUniversal("auth_token", null, false);
            this.$auth.$storage.setUniversal("csfr_token", null, false);
            this.$auth.$storage.setUniversal("logout_token", null, false);
            this.$auth.$state.loggedIn = false;
          });
      }
    }
  };
</script>


<style scoped>
  .forgot-password {
    display: block;
    float: right;
  }
  .hidden {
    visibility: hidden;
    position: absolute;
  }
</style>