<template>
  <v-layout row wrap>
    <v-flex xs12 sm8>
      <v-alert :value="message" :color="messageType" class="mb-3">{{ message }}</v-alert>
      <v-form v-model="valid">
        <v-text-field v-model="credentials.firstName" label="First Name" required></v-text-field>
        <v-text-field v-model="credentials.lastName" label="Last Name" required></v-text-field>
        <v-text-field v-model="credentials.email" :rules="emailRules" label="Email" required></v-text-field>
        <v-text-field
          v-model="credentials.emailConfirmation"
          :rules="emailConfirmationRules"
          label="Confirm email"
          required
        ></v-text-field>
        <v-text-field
          v-model="credentials.password"
          :rules="passwordRules"
          label="Password"
          required
          :append-icon="show ? 'mdi-eye-off' : 'mdi-eye'"
          :type="show ? 'text' : 'password'"
          @click:append="show = !show"
        ></v-text-field>
        <LocationAutocomplete @locationSet="setLocation"/>

        <div class="pt-3 pb-5">
          <legend class="gray">Please link to a specific example of your journalism work that features your name<br /> (not a social media profile)</legend>
          <div
            class="samples background pa-3 mb-3 relative"
            v-for="(row, index) in profile.workSamples"
            :key="index"
          >
            <v-btn
              v-if="index >= 1"
              @click="removeWorksampleRow(index)"
              absolute
              fab
              small
              top
              right
              depressed
              color="secondary"
            >
              <v-icon dark>mdi-close</v-icon>
            </v-btn>
            <v-text-field class="gray" v-model="row.title" label="Title of the specific article or reportage"></v-text-field>
            <v-text-field class="gray" v-model="row.uri" label="URL" :rules="urlRules"></v-text-field>
          </div>
          <v-btn
            v-if="addMoreVisible"
            color="secondary"
            depressed
            class="ma-0"
            @click.prevent="addWorksampleRow"
          >Add another sample (optional)</v-btn>
        </div>
        <div class="gray pt-3">
          <v-checkbox
            v-model="profile.twitterMentions"
            label="I agree that Hostwriter mentions my membership on Twitter."
            hide-details
          ></v-checkbox>
          <v-text-field
            label="Twitter"
            v-if="profile.twitterMentions"
            v-model="profile.twitter"
            prepend-inner-icon="mdi-at"
            append-icon="mdi-twitter"
          ></v-text-field>
        </div>

        <div class="pt-3 pb-5">
          <v-checkbox v-model="checkbox" :rules="termsRules" required>
            <template v-slot:label>
              <div>I have read and agree to Hostwriter's
                <a
                  target="_blank"
                  href="https://hostwriter.org/terms-of-use"
                >Terms of Use</a> and
                <a target="_blank" href="https://hostwriter.org/code-of-ethics">Code of Ethics</a>.
              </div>
            </template>
          </v-checkbox>
        </div>

        <v-btn
          @click="registerUser"
          class="ml-0"
          color="secondary"
          depressed
          :disabled="!valid"
          :loading="loading"
        >Register</v-btn>
      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
  import ImageUpload from "@/components/forms/ImageUpload";
  import LocationAutocomplete from "~/components/forms/LocationAutocomplete";

  export default {
    components: {
      ImageUpload,
      LocationAutocomplete
    },
    props: ["groupTid"],
    data() {
      return {
        checkbox: false,
        error: null,
        show: false,
        token: null,
        loading: false,
        message: "",
        messageType: "",
        credentials: {
          firstName: "",
          lastName: "",
          email: "",
          emailConfirmation: "",
          password: ""
        },
        profile: {
          imageFid: null,
          workSamples: [
            {
              title: "",
              uri: ""
            }
          ],
          location: null,
          twitter: "",
          twitterMentions: false,
        },
        headline: {
          level: "3",
          heading: "create account"
        },
        valid: false,
        password: "",
        passwordRules: [
          v => !!v || "Please enter password here",
          v => v.length >= 8 || "Please use at least 8 characters"
        ],
        email: "",
        emailRules: [
          v => !!v || "Email is required",
          v => /.+@.+/.test(v) || "Email must be valid"
        ],
        emailConfirmationRules: [
          v => !!v || "Email confirmation is required",
          v => v == this.credentials.email || "Email must match"
        ],
        urlRules: [
          v =>
            /^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$/.test(
              v
            ) || "This must be a valid URL such as http://example.com",
          v => /^(http|https):/.test(v) || "Please enter the full url with http:// or https://"
        ],
        termsRules: [v => !!v || "You must agree to register"],
        addMoreVisible: true
      };
    },
    methods: {
      setLocation(value) {
        this.profile.location = value;
      },
      removeWorksampleRow(index) {
        if (this.profile.workSamples.length > 1) {
          this.profile.workSamples.splice(index, 1);
        }
        this.addMoreVisible = true;
      },
      addWorksampleRow() {
        this.profile.workSamples.push({
          title: "",
          uri: ""
        });
        if (this.profile.workSamples.length >= 3) {
          this.addMoreVisible = false;
        }
      },
      registerUser(event) {
        this.loading = true;
        event.preventDefault();
        let url = process.env.baseUrl + "/user/register?_format=json";

        let data = {
          name: [{ value: this.credentials.email.trim() }],
          mail: [{ value: this.credentials.email.trim() }],
          pass: [{ value: this.credentials.password }],
          field_user_firstname: [{ value: this.credentials.firstName }],
          field_user_lastname: [{ value: this.credentials.lastName }],
          field_user_full_name: [
            {
              value: this.credentials.firstName + " " + this.credentials.lastName
            }
          ],
          field_user_location: [
            {
              country_code: this.profile.location.countryCode,
              locality: this.profile.location.city
            }
          ],
          field_user_worksamples_link: this.profile.workSamples,
          field_user_twitter: [{ value: this.profile.twitter }],
          field_user_twitter_mentions: [{ value: this.profile.twitterMentions }],
          // roles: [{ target_id: "Hostwriter" }] -> This is not allowed for security reason. Must be handeled by drupal
        };

        if (this.groupTid) {
          data.field_hostwire_groups = [{ target_id: this.groupTid }];
        }

        this.$axios
          .post(url, JSON.stringify(data), {
            headers: {
              "Content-Type": "application/json"
            }
          })
          .then(response => {
            this.loading = false;
            //console.log(response.data.message);
            this.$router.push("/user/register/confirmation");
          })
          .catch(error => {
            if (error.response.data.message) {
              if (error.response.data.message.includes("is already taken")) {
                this.message =
                  "Cannot process. Validation failed. The email address " +
                  this.credentials.email +
                  " is already taken.";
              }
            } else {
              this.message = "Something went wrong. Please try again later.";
            }
            this.messageType = "error";
            this.loading = false;
          });
      }
    }
  };
</script>

<style scoped>
  .relative {
    position: relative;
  }
</style>
