<template>
  <div v-if="facetData">
    <div class="filter-box pt-3 pb-3" v-for="(filter, index) in facets" :key="filter.id">
      <div class="filter-box__header" @click="facets[index].isOpen = !facets[index].isOpen">
        <h4 class="smaller">
          <v-icon color="primary" left v-if="facets[index].isOpen">mdi-menu-down</v-icon>
          <v-icon color="primary" left v-else>mdi-menu-right</v-icon>
          {{ filter.label }}
        </h4>
      </div>
      <div class="filter-box__body pl-2 pr-2" :class="{'is-closed': !facets[index].isOpen }">
        <v-list class="filter-box__list">
          <input
            @input="filterList(index)"
            v-model="facets[index].searchText"
            class="options-search mb-3"
            type="text"
            autocomplete="off"
            name="search"
            placeholder="search..."
            append-icon="place"
          >
          <v-icon class="filter-box__icon ma-2 pt-2">mdi-magnify</v-icon>
          <ul class="filterlist pl-0">
            <li class="mb-1" v-for="option in filter.options" :key="option.key">
              <label class="check-filter">
                <input
                  type="checkbox"
                  :value="getValue(option)"
                  :label="option.name"
                  :name="option.name"
                  @change="setFilterValue(index, option, getValue(option), $event)"
                >
                {{option.name}}
              </label>
            </li>
          </ul>
        </v-list>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    auth: true,
    name: "SearchFilter",
    props: {
      facetData: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        checkedVals: [],
        facets: {
          country: {
            id: 0,
            label: "Country",
            searchText: "",
            isOpen: true,
            options: this.facetData.country
          },
          locality: {
            id: 1,
            label: "City",
            searchText: "",
            isOpen: true,
            options: this.facetData.locality
          },
          expertise: {
            id: 2,
            label: "Expertise",
            searchText: "",
            isOpen: false,
            options: this.facetData.expertise
          },
          media: {
            id: 3,
            label: "Media",
            searchText: "",
            isOpen: false,
            options: this.facetData.media
          },
          organisation: {
            id: 4,
            label: "Organizations",
            searchText: "",
            isOpen: false,
            options: this.facetData.organisation
          },
          language: {
            id: 5,
            label: "Language",
            searchText: "",
            isOpen: false,
            options: this.facetData.languages
          }
        }
      };
    },
    methods: {
      filterList(list) {
        var self = this;
        let searchText = this.facets[list].searchText;
        if (searchText) {
          this.facets[list].options = this.facetData[list].filter(element => {
            return (
              element.name.toLowerCase().indexOf(searchText.toLowerCase()) > -1
            );
          });
        } else {
          this.facets[list].options = this.facetData[list];
        }
      },
      getValue(option) {
        if (option.hasOwnProperty("country_code")) {
          return option.country_code;
        } else if (option.hasOwnProperty("tid")) {
          return option.tid;
        } else {
          return option.name;
        }
      },
      setFilterValue(filter, option, value, event) {
        this.$emit("filterSelection", filter, option, value, event.target);
      }
    },
    mounted() {
      //console.log(this.facetData);
    }
  };
</script>

<style scoped>
  .is-closed {
    display: none;
  }
  .smaller {
    font-family: "AdelleSans";
  }
  .filter-box__list {
    position: relative;
  }
  .filter-box__icon {
    position: absolute;
    right: 0;
    top: 0;
    color: #ccd2e0;
  }
  .check-filter {
    font-size: 0.9em;
  }
  .check-filter input {
    margin-right: 4px;
  }
  .options-search {
    font-size: 0.9em;
    font-weight: 300;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ccd2e0;
    border-radius: 0.3rem;
    background-color: #fff;
    height: 2rem;
    padding: 1.4rem 1rem;
  }
  .filterlist {
    list-style: none;
    height: 140px;
    overflow-x: auto;
  }
</style>