<template>
  <v-layout row wrap>
    <v-flex xs12 md8>
      <v-form ref="form" v-model="valid">
        <v-textarea
          v-model="profilePersonal.bio"
          :rules="bioRules"
          @change="updatePersonal"
          label="A few words about me (short bio)"
          required
          background-color="#FFF"
          box
          rows="8"
        ></v-textarea>

        <LocationAutocomplete @locationSet="setLocation" />

        <LanguageSelect @languageSet="setLanguages"/>

        <div class="gray pb-5">
          <v-text-field
            label="Twitter"
            v-model="profilePersonal.twitter"
            @change="updatePersonal"
            prepend-inner-icon="mdi-at"
            append-icon="mdi-twitter"
          ></v-text-field>
          <v-checkbox
            v-model="profilePersonal.twitterMentions"
            @change="updatePersonal"
            label="I agree that Hostwriter mentions my membership on Twitter."
            hide-details
          ></v-checkbox>
        </div>

        <v-btn depressed class="ml-0" color="info" @click.native="triggerClickBack">Back</v-btn>
        <v-btn depressed class="ml-0" color="secondary" @click="saveUser" :disabled="!valid" :loading="isParentLoading" >Save Profile</v-btn>
      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
  // @todo:
  /*

    - validation

  */
  import LocationAutocomplete from "~/components/forms/LocationAutocomplete";
  // needs to be .vue, because otherwise it takes the json and complains
  import LanguageSelect from "~/components/forms/LanguageSelect.vue";

  export default {
    components: {
      LocationAutocomplete,
      LanguageSelect
    },
    props: ["parentLoading"],
    data() {
      return {
        title:"",
        valid: false,
        loading: this.saving,
        profilePersonal: {
          bio: "",
          twitter: "",
          twitterMentions: "",
          location: "",
          languages: ""
        },
        bioRules: [
          v => !!v || "Bio is required",
          v =>
            (v && v.length <= 1000) ||
            "Please shorten your Bio - text must be less than 1000 characters"
        ]
      };
    },
    computed: {
      isParentLoading() {
        return this.parentLoading
      }
    },
    methods: {
      saveUser(){
          this.$emit('saveUser');
          this.$eventHub.$emit("imageSaved");
      },
      setLocation(value) {
        this.profilePersonal.location = value;
        this.updatePersonal();
      },
      setLanguages(value) {
        this.profilePersonal.languages = value;
        this.updatePersonal();
      },
      triggerClickBack(){
        this.$parent.$parent.$parent.$refs.stepper.stepClick('2');
      },
      updatePersonal() {
        this.$emit("profilePersonalChanges", this.profilePersonal);
      }
    },
    mounted() {
      this.profilePersonal.bio = this.$auth.user.field_user_bio[0]
        ? this.$auth.user.field_user_bio[0].value
        : null;
      this.profilePersonal.twitter = this.$auth.user.field_user_twitter[0]
        ? this.$auth.user.field_user_twitter[0].value
        : null;
      this.profilePersonal.twitterMentions = this.$auth.user.field_user_twitter_mentions[0]
        ? 1
        : 0;
    }
  };
</script>
