<template>
  <v-layout row wrap>
    <v-flex xs12 md8>
      <v-form v-model="valid" ref="workForm">
        <v-select
          label="I work in (required - max. 5)"
          v-model="profileWork.selectedMedia"
          @change="updateWork"
          :items="media"
          item-text="name"
          item-value="value"
          chips
          deletable-chips
          multiple
          return-object
          required
          :rules="taxonomyRules5"
        ></v-select>
        <v-autocomplete
          label="My expertise (required - max. 8)"
          v-model="profileWork.selectedExpertise"
          @change="updateWork"
          :items="expertise"
          item-text="name"
          item-value="value"
          chips
          deletable-chips
          multiple
          return-object
          required
          :rules="taxonomyRules8"
        ></v-autocomplete>
        <v-autocomplete
          label="I'm a member of"
          v-model="profileWork.selectedOrganisations"
          @change="updateWork"
          :items="organisations"
          item-text="name"
          item-value="value"
          chips
          deletable-chips
          multiple
          return-object
        ></v-autocomplete>

        <div class="pt-5 pb-5">
          <h3>Work Samples</h3>
          <div class="pt-3 pb-5">
            <legend class="gray">Please add links to your jurnalistic work here (required)</legend>

            <div class="samples background pa-3 mb-3 relative" v-for="(row, index) in profileWork.workSamples" :key="index">
              <v-btn v-if="index >= 1"
                @click="removeWorksampleRow(index)"
                absolute
                fab
                small
                top right depressed
                color="secondary">
                <v-icon dark >mdi-close</v-icon>
              </v-btn>
              <v-text-field
                class="gray"
                v-model="row.title"
                label="Title"
                @change="updateWork"
              ></v-text-field>
              <v-text-field
                class="gray"
                v-model="row.uri"
                label="URL"
                :rules="urlRules"
                @change="updateWork"
              ></v-text-field>
            </div>
            <v-btn depressed v-if="addMoreVisible" color="secondary" class="ma-0" @click.prevent="addWorksampleRow">Add another sample (optional)</v-btn>
          </div>

          <legend class="gray">Work sample as PDF (optional)</legend>
          <FileUpload v-on:fileSaved="updateFile" />
        </div>

        <v-btn class="ml-0" color="info" depressed @click.native="triggerClickBack">Back</v-btn>
        <v-btn class="ml-0" color="primary" depressed @click.native="triggerClickForward" :disabled="!valid">Continue</v-btn>

      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>

import FileUpload from "~/components/forms/FileUpload.vue";

export default {
  components: {
    FileUpload
  },
  data() {
      return {
        profileWork: {
          workSamples: [],
          workSamplePdf: [],
          selectedMedia: [],
          selectedExpertise: [],
          selectedOrganisations: []
        },
        addMoreVisible: true,
        valid: false,
        media: [],
        expertise: [],
        organisations: [],
        taxonomyRules5: [
          (v) => v.length != 0 || 'Please select at least one item from the list',
          v => v.length < 6 || 'Please select max 5 items ' +   '... you chose: ' + v.length
        ],
        taxonomyRules8: [
          (v) => v.length != 0 || 'Please select at least one item from the list',
          v => v.length < 9 || 'Please select max 8 items ' +   '... you chose: ' + v.length
        ],
        urlRules: [
          v => /https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#()?&//=]*)/.test(v) || 'This must be a valid URL such as http://example.com',
          v => /^(http|https):/.test(v) || "Please enter the full url with http:// or https://"
        ]
      }
    },
  methods: {
    triggerClickForward(){
      this.$parent.$parent.$parent.$refs.stepper.stepClick('3');
    },
    triggerClickBack(){
      this.$parent.$parent.$parent.$refs.stepper.stepClick('1');
    },
    updateFile(fid, description) {
      this.profileWork.workSamplePdf.fid = fid;
      this.profileWork.workSamplePdf.description = description;
      this.$emit('profileWorkChanges', this.profileWork);
    },
    updateWork() {
      this.$emit('profileWorkChanges', this.profileWork);
    },
    initWorksamples() {
      let workSamplesLinks = this.$auth.user.field_user_worksamples_link;
      if (workSamplesLinks.length > 0) {
        workSamplesLinks.forEach(element => {
          this.profileWork.workSamples.push(element);
        });
      }
      else {
        this.profileWork.workSamples.push({
          title: '',
          uri: '',
        })
      }
    },
    removeWorksampleRow(index) {
       if(this.profileWork.workSamples.length > 1) {
        this.profileWork.workSamples.splice(index,1);
      }
      this.addMoreVisible = true;
    },
    addWorksampleRow() {
      this.profileWork.workSamples.push({
        title: "",
        uri: "",
      })
      if(this.profileWork.workSamples.length >= 3 ) {
        this.addMoreVisible = false;
      }
    },
    getTerms() {
      let url = process.env.baseUrl + '/hostwriter/taxonomies';
      return this.$axios.$get(url, { headers: { Authorization: null } })
        .then(result => {
          this.media = result.media;
          this.expertise = result.expertise;
          this.organisations = result.organisations;
        })
        .catch(e => {
          // @todo: add error handling
          console.log(e)
      });
    },
    getSelectedMediaTerms() {
      let user = this.$auth.user;
      if (user.field_user_media) {
        user.field_user_media.forEach((obj)=>{
          this.profileWork.selectedMedia.push({
            value: obj.target_id, target_id: obj.target_id
          });
        });
      }
    },
    getSelectedExpertiseTerms() {
      let user = this.$auth.user;
      if (user.field_user_expertise) {
        user.field_user_expertise.forEach((obj)=>{
          this.profileWork.selectedExpertise.push({
            value: obj.target_id, target_id: obj.target_id
          });
        });
      }
    },
    getSelectedOrganisationsTerms() {
      let user = this.$auth.user;
      if (user.field_user_organisations) {
        user.field_user_organisations.forEach((obj)=>{
          this.profileWork.selectedOrganisations.push({
            value: obj.target_id, target_id: obj.target_id
          });
        });
      }
    }
  },
  mounted() {
    this.initWorksamples();
    this.getTerms();
    this.getSelectedMediaTerms();
    this.getSelectedExpertiseTerms();
    this.getSelectedOrganisationsTerms();
  }
}
</script>

<style scoped>
  .relative {
    position: relative;
  }
</style>
